[2020-09-08 20:14] tomeichlersmith commented on #904
Hi Hongyin,
I'm not sure if your interpretation of the IDs is correct. How are you determining the maximum is 17? The layer and module IDs are decoded from the copy number in ecal.gdml as described [in this document](https://www.overleaf.com/read/hfhrgtyftykd).

Another suggestion I have is to avoid creating another data structure. you could use `EcalID(layerID,moduleID,0)` to be the key in your m

[2020-09-09 00:52] Hongyin-debug commented on #904
Hi Tom,
Yes, everything seems fine in ecal.gdml. For ECalID.h though, it shows:
	static const RawValue LAYER_MASK{0x3F}; // space for up to 64 layers
	static const RawValue LAYER_SHIFT{17};
	static const RawValue MODULE_MASK{0x1F}; // space for up to 32 modules/layer
	static const RawValue MODULE_SHIFT{12};
I'm thinking of changing it to:
	static const RawValue LAYER_MASK{0x3F}; // space for up to

[2020-09-09 01:31] jmmans commented on #904
Dear Hongyin,

This MUST NOT BE CHANGED.  It will horribly break data on disk.

The "LAYER_SHIFT" has nothing to do with the number of layers allowed.
It has to do with how the 32-bit unsigned integer is decoded.

To get the layer out of the id, you take the 32-bit integer, shift it
right by 17 bits and then apply an AND mask to it to select the bottom
six bits.  This is all done internally.

Noti

[2020-09-09 02:14] Hongyin-debug commented on #904
Hi Jeremiah,
That makes sense!
-Hongyin

[2020-09-14 15:22] vdutta opened #906 "v2.2.1 validation"
Collecting here plots related to validating v2.2.1 samples.

Attached below are some plots related to the ECAL validation, comparing v2.2.1 ECAL sim hits to a v2.1.1 sample. All plots are normalized to 1. In general, the comparisons seem to agree with the changes I'm aware of, i.e. the hexagonal modules should now have 432 cells rather than 397, and the front z position is shifted back from 220 mm

[2020-09-14 15:25] jmmans commented on #906
Dear Valentina,

Indeed, the actual geometry of the detector is such that three sides of
the sensor have "short cells" and the other three sides have "long cells".

For final reconstruction purposes, we may want to consider algorithms to
combine the edge/boundary cells between modules into "effective cells"
with corrections for dead meaterial.

Jeremy

On 9/14/20 10:22 AM, Valentina Dutta wrote:

[2020-09-14 15:39] vdutta commented on #906
@jmmans thanks for the clarification! Indeed, a had a look again at the sensor diagram and it makes sense now :)

[2020-09-15 18:02] jmmans opened #907 "CMake/make notices temporary files"
**Describe the bug**
Emacs creates temporary files (.thefile.cxx) and CMake sees these and decides to add them as new things to compile.  It should probably ignore these...

**To reproduce**
Open a file in emacs and start editing it.  Without saving the file, run make again.  Emacs will write a backup file during editing and make will mess with it.

[2020-09-15 18:31] tomeichlersmith opened #908 "Centrally controlled random seeds"
## Describe the bug
Right now, several subsystems use a locally-made random number generator seeded based off of time. This is an issue becuase we want to be able to compare two runs with identical configs and identical code that should produce the same results.

## Outline of Solution
The central "SeedManager" would make sure that the seeds given to random generators can be re-done given the same

[2020-09-16 17:58] jmmans opened #909 "ConditionsObjectProvider should only provide one object"
The conditions object provider, as originally written, allows for it to provide multiple objects.  After building experience, this should not be done.  This work factorizes fixes to clean up the lower level of the conditions systems.

[2020-09-17 01:50] bryngemark commented on #906
I ran over runs 0-10 in
`/nfs/slac/g/ldmx/data/mc/v12/4gev_1e_ecal_pn_val/4gev_1e_ecal_pn_v12_ldmx-det-v12_run*.root`
with the singularity image
`/nfs/slac/g/ldmx/production/singularityImages/ldmx-v2.2.1-gLDMX.10.2.3_v0.4-r6.20.00-onnx1.3.0-xerces3.2.3-ubuntu18.04.sif`

with a run script that (apart from input and utput file arguments etc) had these relevant lines:
[code]

and similar for `Up` and

[2020-09-17 02:13] Hongyin-debug commented on #904
The submodules for this issue can be found here:
Ecal: https://github.com/LDMX-Software/Ecal/tree/iss904
SimCore: https://github.com/LDMX-Software/SimCore/tree/iss904

[2020-09-17 15:59] tomeichlersmith commented on #791
I just did a clean build of the master branch and I saw zero compilation warnings! Something in your cmake updates must have made cmake smart enough to ignore the warnings from our dependencies.

[2020-09-17 15:59] #791 closed

[2020-09-17 19:30] #868 closed

[2020-09-17 20:01] omar-moreno commented on #791
It's the power of modern cmake :)

On Thu, Sep 17, 2020 at 9:00 AM Tom Eichlersmith <notifications@github.com>
wrote:

[2020-09-17 20:37] #909 closed

[2020-09-21 22:45] omar-moreno opened #913 "Add Tracker repo as a submodule"
The Tracker repo contains all of the simulation and track reconstruction code for the tagger and recoil trackers.

[2020-09-22 16:01] omar-moreno commented on #907
How about turning off temporary files? :)

[2020-09-28 13:59] tomeichlersmith opened #1301 "Add event number to logger as attribute"
I think this is helpful and would be helpful for anyone using the logger to debug their development.

Adding attributes to Boost Log is already well documented, so I hope that this isn't too difficult.

[2020-09-30 22:00] #908 closed

[2020-09-30 22:52] omar-moreno commented on #597
Need the issue to pull in and test the changes made to SimCore.

[2020-10-02 17:13] omar-moreno commented on #784
The following detectors need to converted to the compact format:
- [x] Tagger tracker
- [x] Recoil tracker
- [ ] Target
- [ ] Trig Scintillator
- [ ] ECal
- [ ] HCal

[2020-10-02 17:14] omar-moreno commented on #784
Tagger Tracker:

![image](https://user-images.githubusercontent.com/3708508/94950798-0f1c8700-0498-11eb-8ec1-7b3ea01889fc.png)

[2020-10-02 17:14] tomeichlersmith commented on #890
Updated layout from Ecal Meeting today: https://indico.fnal.gov/event/45833/.

## Additional Changes
- [x] Notice the rotation of the flower layout by 90 degrees. **This will need to be propagated into EcalHexReadout as well.** Put onto its own issue that @Hongyin-debug is working on #904 .
- [x] ECal "cavern" is 80cm x 60cm instead of 60cm x 60cm

![Screenshot_2020-10-02_12-13-57](https://user-im

[2020-10-05 23:21] omar-moreno opened #920 "Add TrigScint as a submodule"
Given the changes that will go into v3.0.0, this should be done now. All existing trigger scintillator code should be pulled out of this repo and into the submodule.

[2020-10-05 23:24] omar-moreno opened #921 "Add HCal as submodule"
All existing HCal code should be moved to the submodule and then pulled into ldmx-sw as a submodule.

[2020-10-07 21:58] omar-moreno opened #922 "Allow setting of log level for a processor"
**Is your feature request related to a problem? Please describe.**
Currently, the log level can only be set globally.  This is an issue when trying to debug a processor because messages from all other processors are also printed.  It would be useful to set the log level such that it only applies to a given processor.

[2020-10-07 22:13] tomeichlersmith commented on #922
@bryngemark I can handle the core framework stuff and loop you in after that is completed. I won't start on this until after the structural changes for v3.0.0 go in.

[2020-10-07 22:38] bryngemark commented on #922
@tomeichlersmith Sounds good!

[2020-10-08 20:46] tomeichlersmith opened #923 "Rename and Clean-Up EcalHexReadout"
EcalHexReadout is a class that we are now using for almost all translation between EcalID and real-space position, not just cutting up the module hexagons into cellular hexagons. With this in mind, it makes a lot more sense to call it something more general than `EcalHexReadout`, probably `EcalGeometry` would work best, and then it would line up with the provider that provides it `EcalGeometryProv

[2020-10-08 21:16] omar-moreno commented on #923
On Thu, Oct 8, 2020 at 1:46 PM Tom Eichlersmith <notifications@github.com>
wrote:

This sounds like a good idea. I have already started doing something
similar in SimCore (added SimCore/Geo) and plan to do the same in the
Tracking module.

[2020-10-09 19:11] tomeichlersmith commented on #921
I've been working with @cmantill and @nhanvtran to update the digis and I just want to say that they are working on a lot of updates to make it *a lot* more realistic. With this in mind, @cmantill I think it would be helpful for you to make the `main` branch on your Hcal repo the old digi producer and old veto and then after a separate branch for your updates. That way you don't have to rush on yo

[2020-10-09 22:44] cmantill commented on #921
hi @tomeichlersmith, I think that suggestion makes sense. I made the `main` branch the one with the old producers and will continue working on `cmantill/hcaladc` on the updates on the digi.
Should I make a PR for https://github.com/LDMX-Software/ldmx-sw/tree/iss921?
Is there any other Hcal code that needs to be moved here?

[2020-10-12 13:52] tomeichlersmith commented on #921
Yes, please make a PR and No, I can't think of any other processors that are hcal-related.

[2020-10-12 16:35] bryngemark opened #926 "A sim-level filter that selects and keeps only simhits in a collection that are directly associated with incoming beam electrons"
**Is your feature request related to a problem? Please describe.**
Need a way to benchmark beam electron counting against the actual number of beam electrons a system has seen.

**Describe the solution you'd like**
A pure beam electron hit collection provides a clean sample of hits against which to benchmark algorithm performance. It automatically accounts for cases such as completely overlapping

[2020-10-12 16:51] jmmans commented on #926
This seems like a rather artificial distinction, doesn't it?  A delta
ray produced by a beam electron wouldn't be counted, but ionization
caused by the beam electron would?  What about soft brehms and Compton
scatters?  This seems terribly cutoff-dependent in a way which is hard
to understand.

If the issue is to ignore effects of other detector elements (like
backscatter off the calorimeter), why

[2020-10-12 17:12] bryngemark commented on #926
Indeed this is what I have, a postprocessing filter, and it is indeed not an infrared safe object definition :)

It is not intended for identifying everything that happens to an electron. It's intended for being able to see, for instance, if the electron counts based on clusters is heavily affected by backscattered secondaries, while tracking finds the right ones. And I agree that we can generate

[2020-10-12 17:55] tomeichlersmith commented on #523
Issue #800  will probably be helpful if I can get that working. I'm thinking we can focus on a filter that aborts the event if a high enough energy photon _doesn't_ undergo PN and then pair that with a biasing operator that biases all photons above a certain energy to go PN.

This energy threshold would need to be determined by a study of inclusive samples to see what amount going PN actually matt

[2020-10-12 23:54] #921 closed

[2020-10-13 20:50] #755 closed

[2020-10-13 20:50] #756 closed

[2020-10-13 20:50] #760 closed

[2020-10-15 20:49] #906 closed

[2020-10-20 20:31] omar-moreno opened #929 "Interface GiBUU and GENIE"
**Feature**
Directly interface GiBUU and GENIE into ldmx-sw.  Currently, GiBUU and GENIE events are converted to LHE format before being fed into ldmx-sw.  Having a direct interface will allow us to take full advantage of some of the tools that are included in each of the packages.

**Possible solutions**
Interfaces for the ART framework exists and may be useful in interfacing to ldmx-sw.

[2020-10-20 20:31] omar-moreno opened #1318 "Interface GiBUU and GENIE"
**Feature**
Directly interface GiBUU and GENIE into ldmx-sw.  Currently, GiBUU and GENIE events are converted to LHE format before being fed into ldmx-sw.  Having a direct interface will allow us to take full advantage of some of the tools that are included in each of the packages.

**Possible solutions**
Interfaces for the ART framework exists and may be useful in interfacing to ldmx-sw.

[2020-10-21 14:26] wesketchum commented on #929
Thanks for opening this!

So, the FNAL software we mentioned yesterday is here: https://cdcvs.fnal.gov/redmine/projects/nutools/wiki

I think the most relevant pieces are EventGeneratorBase (and particularly GENIEHelper in it: I think we do not need to worry about flux files of any kind thank goodness), NuReweight (for the reweighting framework pieces), and SimulationBase which has object definiti

[2020-10-21 19:14] omar-moreno commented on #920
Resolved by #928

[2020-10-21 19:14] #920 closed

[2020-10-22 16:59] omar-moreno opened #932 "v2.3.0 Validation"

[2020-10-22 16:59] omar-moreno commented on #932
Validation samples: /nfs/slac/g/ldmx/data/mc/v12/4gev_1e_pn_recon/batch1

[2020-10-22 23:17] vdutta commented on #932
From a first look at a handful of files, it looks like the total reconstructed energy in the ECAL is now considerably lower compared to v2.1. @tomeichlersmith is this expected? I thought the mean should be roughly the same?

[summedDet_base.pdf](https://github.com/LDMX-Software/ldmx-sw/files/5426417/summedDet_base.pdf)

[2020-10-22 23:53] jmmans commented on #932
Did the sensor thickness change in the simulation?

On 10/22/20 6:18 PM, Valentina Dutta wrote:

[2020-10-23 01:14] vdutta commented on #932
Hmm, no ... I don't believe anything's changed in the gdml.

[2020-10-23 13:55] tomeichlersmith commented on #932
*Software*: v2.1.1 had set `isNoise` to true to _all_ rec hits because of my own forgetfulness, but v2.3 has re-implemented it, so this shift _could_ be from including/not-including noise hits. This would account for the down shift _and_ the overall tightening of the distribution. You could look at sim-level plots to make sure that this is true. You could also check the v2.1.1 rec hits for pure no

[2020-10-23 14:00] jmmans commented on #932
Dear Tom,

I doubt both.  The narrowing is likely just a propotional effect from
the reduced scale -- everything scales down together.  Also, the shift
of the detector would affect tails, not the bulk of the distribution.

I strongly suggest making a plot of the deposited simulation energy.
That will separate effects due to digi/reco from geometry effects.

Jeremy

On 10/23/20 8:56 AM, Tom Eichler

[2020-10-23 16:03] tomeichlersmith opened #1317 "Better ECal Sim Hit Merging"
Our current "solution" for merging ECal sim hits is complicated _and_ unhelpful. We try to store separate contributors for the sim hit, but these separate contribs also need to be merged in order to save space. This merging machinery is completely based on PDG ID right now, which is unhelpful because it doesn't take time into account whatsoever.

We can re-work how EcalHitIO works after v3.0.0 so

[2020-10-23 16:27] vdutta commented on #932
@tomeichlersmith @jmmans I hope the attached plots help to clarify things. The sim hits are basically unchanged, it is the rec hit energies that seem to have shifted downwards. The effect of the downstream shift can be seen in the second set of plots, which shows a comparison between v2.2.1 and v2.1.1 for sim hits: other than the shift in z positions, it doesn't really affect the energy distributi

[2020-10-23 17:16] tomeichlersmith commented on #932
More thoughts:
- I have actually implemented a "readout threshold" in the digitization pipeline, so some very low energy sim hits will be dropped. This could account for the small down-shift in number of readout hits.
- For the ADC readout mode (E < ~10MeV), I don't get the actual voltage amplitude, I just use the maximum voltage measurement. Since this maximum measurement is always <= the actual

[2020-10-23 17:24] jmmans commented on #932
Hi Tom,

(1) I assume this is based on the sum of the simhits in a given chanenl
(the fully-merged hit).

(2) Is this a reco or digi step?

Jeremy

On 10/23/20 12:17 PM, Tom Eichlersmith wrote:

[2020-10-23 17:26] tomeichlersmith commented on #932
(1) Yes, so I've been assuming that it has a negligible effect.
(2) Reco

[2020-10-26 16:15] tomeichlersmith commented on #523
I have now implemented a partial energy sorter on the EaT developments branch (PR #918 ), and have started using it for biasing the signal process. I think this means we will be able to (somewhat) easily translate its use for other processes.

[2020-10-26 16:47] bryngemark commented on #932
I’ve checked the trigger scintillator reco hits using the DQM histograms and they all look alright. I haven’t gotten to checking clusters and tracks; I’m on vacation this week. Anyway it looks like there is still a lot to understand for ECal but if @awhitbeck happens to have time to validate clusters and tracks this week then please do.

[2020-10-27 06:55] omar-moreno commented on #932
First round of Photo-nuclear validation plots: https://github.com/omar-moreno/ldmx-notebooks/blob/master/pn_validation/ecal_photonuclear_validation_v12_v2.3.0.ipynb

Things look as expected.

[2020-10-29 14:15] tomeichlersmith opened #1316 "Modernize LHE Reading Memory Allocation"
Right now there is a lot of `new` and `delete` floating around when using the LHEReader, and I think we can clean this up really easily and use stuff like `std::unique_ptr` which handles this stuff automatically and safely.

[2020-10-29 14:18] awhitbeck opened #1342 "QIE calibration conditions"
We need to start developing a conditions object that will allow digitization constants to be stored in a database and not be hardcoded in [SimQIE](https://github.com/LDMX-Software/TrigScint/blob/iss709v2TrigScint/include/TrigScint/SimQIE.h).   These constants include:

- SiPM gain
- number of bins per range -- this is 5 numbers (though I think it only need to be four) but it is the same for all ch

[2020-10-30 02:41] bechenard commented on #932
Hi guys,
Here are the validation plots for the HCal, and the comparison with a previous version of the code (don't remember which one exactly....). The plots make sense, but I do see more activity in the back HCal and less in the side HCal w.r.t the previous code. Not sure why this is the case, I need to investigate.

[val.pdf](https://github.com/LDMX-Software/ldmx-sw/files/5462669/val.pdf)
[valco

[2020-11-02 22:55] tomeichlersmith commented on #932
Investigating ECal issues revealed in validation at https://github.com/LDMX-Software/Ecal/issues/21
Branch is `iss932` to reference this validation issue.

[2020-11-04 05:36] awhitbeck commented on #932
I looked at a small fraction of the data.  Reconstructed clusters and tracks look reasonable.  Some distributions of clusters and tracks are shown below.  Things generally look fine.  @bryngemark I am not sure if there are other things you would like to check, though?

cluster locations (red: tagger, blue: upstream, black: downstream array)
![image](https://user-images.githubusercontent.com/417343

[2020-11-04 16:19] bryngemark commented on #932
@awhitbeck thanks, I agree this looks reasonable. To me this is enough; we should probably come up with a standard set of validation plots though and add them to the DQM module.

[2020-11-04 16:23] bryngemark commented on #932
For completeness, these are the reco TS hit DQM plots, on two files (run numbers 504 and 531).

![TrigScintDigiDQMDQM_id](https://user-images.githubusercontent.com/42861632/98137298-b2d1cc00-1e76-11eb-8d7b-7f1496d77de0.png)
![TrigScintDigiDQMDQM_n_hits](https://user-images.githubusercontent.com/42861632/98137314-b6655300-1e76-11eb-9cdc-3d46377951ea.png)
![TrigScintDigiDQMDQM_pe](https://user-image

[2020-11-04 16:29] bryngemark opened #935 "Add TrigScint clustering and tracking validation plots"
**Is your feature request related to a problem? Please describe.**
We have added two new types of objects to the trigger scintillator collections: clusters and tracks, and they need to be validated when there are new releases (and for data quality later on).

**Describe the solution you'd like**
We should have a standard set of validation plots for trigger scintillator clusters and tracks just as

[2020-11-05 20:30] jmmans commented on #826
Can this issue be closed?

[2020-11-05 20:35] bryngemark commented on #826
No fix for this has been pushed yet. I did think about it yesterday but I think only ugly (collection name parsing) solutions can be implemented until we move to processing all three modules in one single collection.

So, I'd say, can't be closed.

[2020-11-09 17:04] bryngemark opened #936 "Multielectron-aware missing energy trigger"
**Is your feature request related to a problem? Please describe.**
We should make the trigger decision aware of the number of electrons in the event. (This is needed for multi-electron studies, for trigger skims on pileup overlay files, ... )

**Describe the solution you'd like**
I'm planning to create a new trigger processor that evolves "simple trigger" to taking the number of beam electrons int

[2020-11-09 22:16] tomeichlersmith opened #937 "Out Of Time (OOT) Pileup Simulation"
**Is your feature request related to a problem? Please describe.**
OOT Pileup is expected to be a difficulty LDMX experiences relatively rarely in its early stages, but may experience more of it in later phases of LDMX with higher luminosity or a higher rate.

**Describe the solution you'd like**
OOT Pileup can be simulated in the most robust way by enhancing the OverlayProducer that has been impl

[2020-11-09 22:24] bryngemark commented on #937
Just a comment that the OverlayProducer already deals with OOT pileup to first order, in the sense that you can put the overlay event in bunches other than the sim event (sampled from a uniform distribution of +/- _m_ bunches). What it so far doesn't deal with is having no sim event *at all*. But it is already possible to look at a bunch other than the sim event bunch, or even artificially cut tha

[2020-11-13 02:24] bechenard commented on #932
Hi all,

Apparently, my concerns were unfounded. It turns out I was comparing the latest recon with much older data than the I should have used - naming files 'old' and 'old2' seems to be a bad idea after all. I re-ran the validation script on the previous reco files, the results are available in the attached pdf. Basically, everything is fine. The bright side is that I expanded my validation scri

[2020-11-13 22:13] vdutta commented on #932
Attached are ECal validation plots created from the files in `/nfs/slac/g/ldmx/data/mc/v12/4gev_1e_pn_recon_iss932_v2`. While I see some small changes for very low energy hits compared to the previous version (v2.3.0-alpha), the overall downward shifts in the total reconstructed energy and number of hits are still there. (Side note: the v2.3.0-alpha comparisons are with a much smaller sample than

[2020-11-13 22:29] omar-moreno commented on #932
I just noticed that changes to Ecal/python/digi.py made a couple of days weren't picked up.  @tomeichlersmith, the change I'm referring to is `self.secondOrderEnergyCorrection = 4000. / 3983`. Do you expect this to significantly impact the recon?

[2020-11-16 14:16] tomeichlersmith commented on #932
That update would only shift the total rec energy towards 4GeV (up slightly) and would not change other aspects of the plots.

Here's the deal. v2.1.1 was _way_ too good because of how I unrealistically implemented it. The slight down offset in Sim Hit v Rec Hit distribution is expected from my non noise plots that @vdutta referenced. This effect is mainly originating from the fact that we are pac

[2020-11-16 15:39] tomeichlersmith commented on #932
Ok, I've updated some recon parameters in order to account for the DIGI truncation. In the ADC range, this increases the recon gain by 1% and in the TOT range, this increases the recon gain by 0.5%. This now means that (without the 2nd order energy correction), the mean of 100k 4GeV showers is now 4.023GeV (where before it was 4.010GeV).

I still want to advocate for the 2nd point I made above. Th

[2020-11-16 15:42] omar-moreno commented on #932
Given that it's not an apples to apples comparison, point 2 is reasonable.
If there aren't any objections, I'll make a release today!

On Mon, Nov 16, 2020, 7:39 AM Tom Eichlersmith <notifications@github.com>
wrote:

[2020-11-16 16:08] cmantill opened #941 "Improve Hcal digitization realism"
Improve the Hcal digi pipeline to make it a lot more realistic. The idea is to use the HGCROC digitization class `HgcrocEmulator` and implement an `HcalReadout` or `HcalGeometry` class to convert ID to position for RecHit reconstruction.

[2020-11-16 17:06] vdutta commented on #932
@tomeichlersmith understood and agreed that the comparison with previous (unrealistic) versions of recon is not fair. However, I would just like to make sure we understand the changes and are satisfied that we have a reasonable representation of the physics moving forward. There were a couple of questions which I hope you can help to me to understand:
1) The "EcalDigiVerify" plots that you posted

[2020-11-16 17:25] jmmans commented on #932
@vdutta , can you run inclusive events through your code setup?  It's hard to disentangle effects when we are looking at different classes of samples.  The "highest single cell energy" could be an effect from the TOT/ADC boundary, but we don't see this in the inclusive sample as far as I know (Can you confirm, @tomeichlersmith ?)

[2020-11-16 17:30] tomeichlersmith commented on #932
1. Yes, the PN events are expected to _not_ peak at 4GeV because a lot of the energy is "lost" to PN interactions. This is why I've been using the inclusive events to test the digi chain.

2. Does this use `getAmplitude` or `getEnergy`? (i.e. does this single cell energy include the layer weights?) There are a few places where discontinuities could pop up, and the layer weights mess with that inte

[2020-11-16 17:34] jmmans commented on #932
@tomeichlersmith -- Your argument about the discontinity doesn't hold water, I think.  The _physical_ distribution is certainly continuous.  Your digi plot doesn't show any discontinuity, therefore TOT/ADC doesn't explain the observation.  Can you reproduce this plot for our samples?

[2020-11-16 17:34] vdutta commented on #932
@jmmans ... yes, I can definitely run over some inclusive events with the same setup. I'm taking a look at the file here: `/nfs/slac/g/ldmx/users/eichl008/ecal-digi/ecal_sim_recon_dqm_100k.root` now unless there is a later sample to look at.

The "max single cell energy" is filled in the EcalVeto class and uses `getEnergy`, so including the layer weights.

[2020-11-16 23:05] Duchstf opened #942 "(Minor bug) wrong unit in simulation's energy printout"
(Minor bug so I just skipped the formality)

We set the particle gun's energy [using GeV in the config file.](https://github.com/LDMX-Software/SimCore/blob/908687e5e827f99e0bfbd9bc8a29c8f57ea768b5/python/generators.py#L26) However, the printout when we fire the config appears to be in MeV:

[code]

Here is the code that prints the energy: https://github.com/LDMX-Software/SimCore/blob/908687e5e827f

[2020-11-18 20:17] tomeichlersmith commented on #890
@vdutta This is the issue I have the 90 degree rotation listed on. I've added it to be included in v3.1.

[2020-11-20 17:22] bryngemark opened #943 "TS tracking doesn't fully remove duplicates"
**Describe the bug**
There are cases where clusters in the two downstream pads are assigned to different tagger seed clusters, creating a duplicate track. This happens because the overlap removal logic assumes that these overlapping tracks will be neighbors in the list of tracks, which is not always the case.

I have a patch for this.

[2020-11-30 21:33] bryngemark opened #945 "Tracker veto uses hardcoded cut at 1.2 GeV"
**Describe the bug**
A hardcoded cut at 1.2 GeV for the tracker veto kills way too many events in 8 GeV simulations!

**Desired behavior**
This should be a configurable parameter. I can't find a standard python config for this processor.

[2020-11-30 21:35] omar-moreno commented on #945
This processor has been moved to the Tracker module and updated. It will be available once the v3.0.0 updates are pushed.

I'm closing this because the issue has been resolved outside of ldmx-sw.

[2020-11-30 21:35] #945 closed

[2020-12-02 15:30] tomeichlersmith opened #946 "HGC ROC Emulation Improvement"
_Context_: While @jmmans and I were debugging the weird behavior of the ECal reconstruction in the v2.3 validation samples, we talked about a lot of long-term improvements that "should" be made to the chip emulator but I didn't want to slow down the already late release.

### Timing Shift
The chip emulator should "know" what its time phase is relative to the simulation global time where t=0ns occu

[2020-12-02 15:43] jmmans commented on #946
Dear Tom,

Regarding the TOA --> the pulse should be created based on the Sim time,
but this shouldn't necessarily be set to zero.  Actually, the ideal is
to _center_ the pulse in the bunch window rather than have it arrive at
the front edge.  In that case, the TOA should always be in the same
bunch as the ADC (in the same readout/not negative).

Then, at the /reco/ stage, one needs to subtract th

[2020-12-04 23:58] vdutta commented on #932
Latest ECal validation plots made from the PN files @omar-moreno produced under `/nfs/slac/g/ldmx/data/mc/v12/4gev_1e_pn_recon_iss932_v4`. Everything now looks reasonable to me ... thanks @tomeichlersmith and @jmmans for all the investigation!
[v2.3.0_validation_120420.pdf](https://github.com/LDMX-Software/ldmx-sw/files/5646106/v2.3.0_validation_120420.pdf)

[2020-12-05 00:54] omar-moreno commented on #932
Alright, I think we are ready for a release.

On Fri, Dec 4, 2020 at 3:58 PM Valentina Dutta <notifications@github.com>
wrote:

[2020-12-07 22:26] #932 closed

[2020-12-07 22:33] #646 closed

[2020-12-17 15:07] awhitbeck opened #1341 "DMQ analyzer for digi collections"
Need a DQM analyzer for new digi collections

[2020-12-17 23:01] awhitbeck opened #1340 "Cross talk simulation"
This should be done on top of the new digi code.

Need a way to generate hits from optical cross talk in the scintillators/simps.  This can be done using an NxN (where N is the number of bars in an array) matrix that tells how much light from 1 bar generally leads into another.  I propose that we do this on a per hit level so that the time structure of these signals are maintained.

[2020-12-18 22:26] #640 closed

[2020-12-18 22:26] #644 closed

[2020-12-18 22:26] #765 closed

[2020-12-18 22:26] #857 closed

[2020-12-18 22:26] #878 closed

[2020-12-21 19:16] bryngemark opened #948 "Run simulation on v9 with ldmx-sw v2.3 (or later)"
**Describe the bug**
I have attempted running an 8 GeV beam with the `v9` detector. My config works fine for the `v12` detector, but with `v9` I get a seg fault:
[code]

**To Reproduce**
Use the template simulation script in the LDCS repo [here](https://github.com/LDMX-Software/LDCS/blob/master/productionScripts/v2.3/ldmxjob-2.3.0_v9.py.tpl).
1. change RUNNUMBER to an actual int
2. rename it to so

[2021-01-04 15:30] awhitbeck commented on #1340
I did manage to test this code; it seems to work.

I am still debating how the user-interface for this code should work, specifically, how the should cross-talk [matrix](https://github.com/LDMX-Software/TrigScint/blob/cross_talk/src/TrigScint/TrigScintQIEDigiProducer.cxx#L117-L128) be configured.  The two extreme options are:

- Option 1: to assume that there are only 2 free parameters, one which

[2021-01-11 23:59] therwig opened #950 "Adding Trigger submodule"
I would like to include a new submodule `Trigger` in ldmx-sw.  The submodule would include sub-directories for two types of algorithm implementations.  The first is pure software, which can be compiled within ldmx-sw, directly using the standard trigger reco objects, supports floating-point calculations, etc.  The second is hls code, which could be run in a standalone setup and (eventually) also d

[2021-01-12 21:41] omar-moreno commented on #695
Will look for alternatives that are python based.

[2021-01-12 21:41] #695 closed

[2021-01-12 21:41] omar-moreno commented on #696
Short term, this isn't possible so I'll close it for now.

[2021-01-12 21:41] #696 closed

[2021-01-12 21:43] omar-moreno commented on #781
Don't see this happening near term so closing for now.

[2021-01-12 21:43] #781 closed

[2021-01-12 21:44] omar-moreno commented on #854
This has been resolved by #644

[2021-01-12 21:44] #854 closed

[2021-01-12 21:45] omar-moreno commented on #907
This has been resolved by #644 .

[2021-01-12 21:45] #907 closed

[2021-01-12 21:47] omar-moreno commented on #948
An issue for this already exists.  Will close this one.

[2021-01-12 21:47] #948 closed, assigned to nobody

[2021-01-12 21:51] omar-moreno commented on #950
Following up on the PR:

1) Move Algo_HLS to it's own repo (TriggerHLS) and move code in Algo into the trigger submodule. Since Algo_HLS runs standalone, then it really doesn't belong in ldmx-sw.
2) Make sure the code formatting follows the Google C++ style.
3) Use namespace trigger.

I'll add more checks to the code once these updates are in. I will also plan to move existing trigger code into th

[2021-01-12 23:55] therwig commented on #950
Hi Omar, thanks for the comments. We've started informally discussing how to setup and handle the HLS algorithms that we're beginning to assemble, and probably we may want to discuss in a TDAQ meeting (or another appropriate venue) at some point.

To me 2 and 3 are not controversial and I'll make the changes.

On 1, I can say a little more to motivate this choice.  A main idea behind the combined

[2021-01-13 00:05] therwig commented on #950
Looping in also @nhanvtran (related WIP PR is #952).

[2021-01-13 01:03] omar-moreno commented on #950
We should discuss this in more detail at the software developers meeting.  My thoughts below:

OK, I see the logic behind wanting to do this. However, I would like to change things up such that they conform to the ldmx-sw modules format.

- [ ] HLS_arbitrary_Precision_Types should be brought in as an external dependency and not as a submodule.  The way we are currently doing this is using by creat

[2021-01-13 05:03] nhanvtran commented on #950
Sounds good - don’t have too much to add here. I think some of the thinking behind implementation would be good to be discussed in a software meeting. When’s the next one planned for?

[2021-01-13 17:11] tomeichlersmith commented on #1316
## I don't think using an xml reader is the best option.

I have coded up a quick program that scans the xml tree of an input LHE file and basically (since the LHE accords calls for newlines to be tossed around everywhere), we get a bunch of unknown XML tags `#text`: one for the content of some tag and one for the closing tag. For example,
[code]
Gets translated into
[code]
Which would mean we wou

[2021-01-13 17:17] omar-moreno commented on #1316
I've written a reader based on tinyxml for another project and have never
run into the issues you are describing. Maybe it's the package you used?

On Wed, Jan 13, 2021 at 9:11 AM Tom Eichlersmith <notifications@github.com>
wrote:

[2021-01-13 17:18] tomeichlersmith commented on #1316
Can you link/attach the reader? Maybe I just need to configure the parser differently that the defaults.

[2021-01-13 17:22] omar-moreno commented on #1316
It's probably easier if I just integrate it into ldmx-sw. No point in
dumping it here.

On Wed, Jan 13, 2021 at 9:19 AM Tom Eichlersmith <notifications@github.com>
wrote:

[2021-01-13 18:13] therwig commented on #950
@omar-moreno, to make sure that I do this efficiently, are the LDMX-specific conventions explicitly documented somewhere (e.g. a `Contributing.md`), or is the best way to read all of [the style guide](https://google.github.io/styleguide/cppguide.html) and look at other submodules for namespace conventions?

[2021-01-13 18:19] omar-moreno commented on #950
On Wed, Jan 13, 2021 at 10:13 AM Christian Herwig <notifications@github.com>
wrote:

Reading the actual style guide is best although there are formatters in
existence that will do this automatically. The one I have been using is:
https://clang.llvm.org/docs/ClangFormat.html

[2021-01-16 00:40] bryngemark opened #955 "Overlay producer validation"
This issue is for keeping track of the validation of the overlay producer. Please post results/comments here!

The goal is to see that
1. you can run what you usually run on these files, and get the expected results
2. you get the same results from overlay as from a multiparticle gun sample

**What**
10k events each of an "old way" multiparticle gun 2-electron sample, and a "new way" 1+1 electron

[2021-01-18 15:50] tomeichlersmith commented on #955
Looking first and the ["lower level" ecal variables](https://github.com/LDMX-Software/ldmx-sw/files/5831191/low_level_ecal.pdf) (Digi encoded words and individual rec hits), the distributions mimic each other beautifully! The only separation is in the regions where there are less hits, but that is expected since we can't have these two samples be generated with the same random numbers at all steps

[2021-01-18 16:47] tomeichlersmith commented on #955
Again, the ["higher level" ecal variables](https://github.com/LDMX-Software/ldmx-sw/files/5831483/high_level_ecal.pdf) (BDT input variables) mimic each other in shape well. To me, it looks like the only separation is due to randomness; however, I would like @vdutta to glance at these plots as well.

[2021-01-25 17:05] therwig commented on #950
Todos from last sw dev meeting:
- @tomeichlersmith: add readmes explaining this directory structure
- Will keep as one submodule for now, iterating on items above

[2021-01-27 13:22] hongyin-liu commented on #904
A new branch iss904-rotate has been set up for the rotated Ecal geometry.
The main changes are in EcalHexReadout.cxx,  EcalHexReadout.h, and Ecal.gdml.
Submodules:
Ecal: https://github.com/LDMX-Software/Ecal/tree/iss904-rotate
SimCore: https://github.com/LDMX-Software/SimCore/tree/iss904-rotate

A rough overview: [Ecal Rotation.pdf](https://github.com/LDMX-Software/ldmx-sw/files/5880463/Ecal.Rotat

[2021-01-28 19:21] tomeichlersmith commented on #890
Got another design updated from Susanne at the [Ecal Meeting Today](https://indico.fnal.gov/event/47447/). Lots of the finer details are changing so I'm going to stop posting pictures, but the follow big changes still need to be propagated to the simulation of the ecal.

- [x] Cooling planes are big rectangles instead of individual hexagons
- [x] Tungsten is large octagon (approximately) instead o

[2021-02-04 18:34] vdutta commented on #955
@tomeichlersmith, sorry I missed your post! I confirm that I also looked at the files and compared the higher level variables and BDT output ... to me also everything seems to agree well enough.
[overlay_validation_ecal_020321.pdf](https://github.com/LDMX-Software/ldmx-sw/files/5927771/overlay_validation_ecal_020321.pdf)

[2021-02-05 21:53] tomeichlersmith opened #957 "singularity preserves environment variables which may cause failures"
**Describe the bug**
`singularity` preserves environmental variables defined by the host system. This is an issue if the host system happens to define an environmental variable we use, for example `ROOTSYS`. `singularity` has an option to *not* pass the environment from the host, so we include that flag in our definition of the `ldmx` function.

**To Fix**
In ldmx-sw/scripts/ldmx-env.sh, change th

[2021-02-05 23:13] omar-moreno commented on #784
![image](https://user-images.githubusercontent.com/3708508/107098683-ab4af780-67c4-11eb-8a42-8db41c4a3596.png)

[2021-02-09 16:46] tomeichlersmith opened #959 "Use Git Large File Storage (LFS) for our large files"
**Is your feature request related to a problem? Please describe.**
Pushing/pulling slows down _a lot_ when a user wants to change a large file (e.g. MagneticFieldMap, Example dark brem event library,...). This can be resolved by using [git lfs](https://git-lfs.github.com/).

**Describe the solution you'd like**
Having `git lfs` handle and track all of our `*.tar.gz` and `*.root` files would allow

[2021-02-10 18:33] tomeichlersmith commented on #888
Translation to json files from our objects in ROOT is necessary. I think an easy way to do this is with a python module.
https://chadrick-kwag.net/json-dumpingserializing-custom-python-classes/

[2021-02-10 18:35] omar-moreno commented on #888
Why not just build on what DD4hep has already done? Their geo display is
pretty nice.

On Wed, Feb 10, 2021 at 10:34 AM Tom Eichlersmith <notifications@github.com>
wrote:

[2021-02-10 18:39] tomeichlersmith commented on #888
I haven't looked into it...good idea

[2021-02-10 18:41] tomeichlersmith commented on #888
[The "documentation"](https://dd4hep.web.cern.ch/dd4hep/usermanuals/DDEveManual/DDEveManualse1.html#x2-10001) makes me worried, but I will play around with it when I get the chance.

[2021-02-10 18:43] omar-moreno commented on #888
Documentation is pretty bad ... but still might be worth over building from
scratch.  They seem to answer questions readily.

On Wed, Feb 10, 2021 at 10:41 AM Tom Eichlersmith <notifications@github.com>
wrote:

[2021-02-10 18:54] tomeichlersmith commented on #888
I guess, I'm happy to go either way and we need to just pick a path. Both paths have their pros and cons, so I want to lay them out here. I like number 2 better because the GUI doesn't use ROOT and actually looks cool, but the translation layer is a big con.

## 1. ROOT-based GUI

**Pros**
- Similar to our current approach
- Can be integrated with our geometry description and (potentially) use DD4

[2021-02-10 23:51] bryngemark commented on #955
@bechenard this is what we need Hcal to look at

[2021-02-12 23:49] #800 closed

[2021-02-12 23:49] #870 closed

[2021-02-19 20:42] bechenard commented on #955
@bryngemark Sorry for the delay. Just compared a few variables for the HCal and everything seems to agree well enough. I also looked at other 2d distributions and they are fine too (I can provide plots if you want)
[val1eover_2e_comp.pdf](https://github.com/LDMX-Software/ldmx-sw/files/6012827/val1eover_2e_comp.pdf)

[2021-02-26 01:07] omar-moreno opened #1315 "SimTrackerHit Detector ID's are screwed up"
# Issue

After the update to the new detector ID's, the module ID is now 0 for all layers.  This is causing a mismatch between the detector ID from a hit and those associated with a detector element.

# Solution

The SD needs to be updated so it sets the correct module ID.  Currently, the module numbers are being calculated from the copy numbers.  Going forward, either a dedicated module parameter

[2021-03-01 19:57] tomeichlersmith opened #966 "Tab Completion when interacting with container"
I just found out that you can [customize how your commands respond to tab-completion requests](https://iridakos.com/programming/2018/03/01/bash-programmable-completion-tutorial). This is pretty rad, and I want to do it. My idea is to have `ldmx` be **the** command with multiple sub-commands (kinda like how `docker` has multiple sub-commands). The command tree I'm thinking of implementing is

- `ld

[2021-03-01 23:40] bryngemark commented on #966
cool! would `ldmx mount` be a good idea? primarily for when you want to run on data from some input path.

[2021-03-02 13:33] tomeichlersmith commented on #966
Great idea! I will look into it :+1:

[2021-03-11 18:49] bryngemark opened #967 "Enhance overlay producer event randomization"
This is part of the long foreseen development of the overlay producer's initially desired list of capabilities. I held off on it initially becasue v3.0 was in the works and I need to change EventFile a little bit.

If we were to have one unique pileup event for every interesting sim event we want to use in overlay, we'd need a large (disk space consuming) sample. It's been agreed with Physics coor

[2021-03-12 00:02] bryngemark opened #968 "Make the number of earlier/later bunches used for pileup independent"
In the current implementation, out-of-time pileup is placed symmetrically in +/- _m_ bunches. This should be separately configurable (so place pileup in a random bunch from a continuum starting 3 bunches before, to 10 bunches after, or whatever).

**Describe the solution**
I'm going to change the setup in the `OverlayProducer` such that two numbers are specified instead of one.

[2021-03-12 00:55] GNiramay commented on #968
I was wondering, can we also specify a physical time range for the pileup? I mean, instead of setting +/- 4 bunches, can we specify +/- 100ns perhaps?

[2021-03-12 16:50] tomeichlersmith commented on #966
`ldmx mount` will be included, I've opened up a draft PR #970 to point out my progress. I still need to check that it works on `singularity` systems.

[2021-03-12 21:17] tomeichlersmith commented on #946
TOA measurement should only go into the sample where the pulse _actually_ went over the TOA threshold. The TOA's in the other samples should be a "non-measurement" of 0. The actual TOA measurement should be shifted up by one before being saved so that the "non-measurement" of 0 only happens when the TOA wasn't measured.

[2021-03-16 20:53] bryngemark commented on #968
Hi @GNiramay, sorry, my github notifications have been ending up in spam lately :(

I think we do want to operate under the assumption that the beam will be bunched? That said, it is already possible to smear the time within a bunch (applies also to out-of-time bunches). I've set this smearing to a Gaussian distribution, but that could be tweaked/configurable if there is a use case for it. Any tho

[2021-03-16 23:52] omar-moreno opened #972 "Framework should be independent of EventConstants"
EventConstants is currently used to set the tree name and run header branch name. These should be settable via the python config instead of hard coded.

[2021-03-17 22:45] bryngemark opened #974 "Improved realism of out-of-time pileup simulation"
Currently, out-of-time pileup is simulated by choosing a total number of interactions, and then a per-event time offset is calculated by uniform sampling of an interval given by `(-nEarlier, nLater)*bunchSpacing`.

**Improved method**
Given an interval of bunches to populate, the number of pileup events to plug in should be set, either as a fixed number, or, by sampling a Poisson distribution arou

[2021-03-18 16:55] #967 closed, assigned to bryngemark

[2021-03-18 16:55] #968 closed, assigned to bryngemark

[2021-03-22 16:29] tomeichlersmith commented on #946
Following lines should be improved. Basically forces TOA to be greater than or equal to zero, which is not realistic.

https://github.com/LDMX-Software/ldmx-sw/blob/5593a7fd9f9e1043bc487cceb54bffc561431bc8/Tools/src/Tools/HgcrocEmulator.cxx#L200-L203

Tied with the time smearing forcing the sim-hit time to be non-negative.

https://github.com/LDMX-Software/ldmx-sw/blob/5593a7fd9f9e1043bc487cceb54b

[2021-03-24 19:45] cmantill opened #1350 "Account for the time spread in the photon production in the scintillator"
The scintillator relaxes over a finite time, so the photons arrive over a range of times, even if they are produced at the same point in the bar. This should account for effects of the scintillator bar itself and the wavelength shifter (Y-11).

Jeremy's suggestion:
1. for each energy deposition, use a PE/edep factor to determine the number of PE actually produced (include attenuation effects). At

[2021-03-24 20:58] jmmans opened #976 "Refactor TemplatedClusterFinder and move to Tools"
ecal::TemplatedClusterFinder is actually a more-general tool than currently used.  Sophie has copied it into Hcal for use there, but it would be better to put a clean separate version into Tools and use it from both Ecal and Hcal

The cluster finder doesn't care about anything specific to EcalHit or HcalHit anyway, so it can be refactored to run off CalorimeterHit.

[2021-03-24 20:58] omar-moreno commented on #976
I would suggest to put this into the recon module.

[2021-03-24 21:00] tomeichlersmith commented on #1350
The timing of the different pulses (and how they are digitized) is _intimately_ connected to how the HgcrocEmulator handles timing. The current version of the emulator on ldmx-sw/trunk is a good first pass, but it has several flaws highlighted in https://github.com/LDMX-Software/ldmx-sw/issues/946 .

I intentionally wanted to separate the subsystem-specific stuff (steps 1 through 5 above) and the

[2021-03-24 21:17] cmantill commented on #1350
Ok will do:
- Expand HcalDigiPipeline test to include multiple sim-hit reconstruction (handle hits separated by space or time, or both)

[2021-03-30 21:14] tomeichlersmith commented on #974
Merged with PR #975 so I'm closing this. (@bryngemark Feel free to re-open if I'm missing something.)

[2021-03-30 21:14] #974 closed, assigned to nobody

[2021-04-01 23:06] bryngemark opened #978 "DQM plots for TrigScint clusters and tracks"
**Is your feature request related to a problem? Please describe.**
No DQM plots for clusters and tracks exist yet...

**Describe the solution you'd like**
A very simple set of histograms much like what is in place for sim hits and (old) digis.

[2021-04-13 22:06] #957 closed, assigned to nobody

[2021-04-13 22:06] #966 closed, assigned to tomeichlersmith

[2021-04-16 23:44] #978 closed, assigned to bryngemark

[2021-04-17 00:46] #936 closed

[2021-04-19 12:58] tomeichlersmith commented on #946
I forgot to link this issue to the recent PR #980  that was merged. I don't think that PR perfectly addressed all of these comments; however, it did address them and I think we need to re-focus any further development on mimic-ing an _actual_ chip.

[2021-04-19 12:58] #946 closed

[2021-04-19 12:59] tomeichlersmith commented on #972
This was resolved by PR #973 and so I'm closing it.

[2021-04-19 12:59] #972 closed, assigned to omar-moreno

[2021-04-19 13:00] tomeichlersmith commented on #941
Resolved by PR #980 .

[2021-04-19 13:00] #941 closed

[2021-04-19 13:02] tomeichlersmith commented on #937
At the digi-level, the updates to the HGC ROC emulator theoretically handles OOT pileup correctly. This needs to be validated, but the emulator's use in the HCal (which has a much broader time spread for IT hits) is a first-order validation of this. In any case, closing this because we have the sim and digi tools necessary to study OOT pileup.

[2021-04-19 13:02] #937 closed

[2021-04-19 13:04] tomeichlersmith commented on #889
We have a `g4-vis` command merged in to `trunk`, so I'm closing this. If you want to expand the `g4-vis` command to include more potential G4 interactive commands, feel free to re-open this issue.

[2021-04-19 13:04] #889 closed

[2021-04-19 13:06] tomeichlersmith commented on #523
I am closing this issue since the EaT developments #953 have given us the tools to study midshower PN+EN. While the example config in `trunk` is for the EaT analysis channel, this config can be modified pretty easily to focus on hard-brem in target + midshower nuclear in ECal.

[2021-04-19 13:06] #523 closed

[2021-04-21 12:38] tomeichlersmith opened #1306 "Break-Up Ecal Veto"
_Edit_: I've given this more thought as I chatted with @tvami on slack.

Currently, the `EcalVetoProcessor` is very hefty. Moreover, a lot of the variables calculated by the veto processor can be used by other analyses. With this in mind, my proposal is to break up the current veto processor into different processors that create different event bus objects.

1. EcalHitStatistics - calculate variou

[2021-05-04 17:56] tomeichlersmith opened #982 "PR Template"
I think it would be helpful to define a PR template to help guide contributors. This would (hopefully) make it easier to contribute.

[2021-05-04 18:18] tomeichlersmith opened #984 "Include Muon-Conversion in Midshower Enriched Background Sample"
While the ECal as Target analysis was able to investigate up to 1E13 EoT equivalent using the "enriched nuclear" background (i.e. background events where photo-nuclear and electro-nuclear interactions lead to mis-measured energy in the ECal), the photon conversion to muons background is expected to grow in importance as we scale up to higher EoT. For this reason, it should be included in the midsh

[2021-05-04 18:21] tomeichlersmith opened #985 "HCal Detector Simulation"
Currently, the HCal detector in our simulation differs drastically from when we expect outside of the simulation. Similar to the [ECal geometry](https://github.com/LDMX-Software/ldmx-sw/issues/890), realism improvements must be made. Personally, the only change that I know of is that the back HCal is planned to be 2m by 2m rather than the 3m by 3m currently in the simulation. I have no doubt there

[2021-05-04 20:42] omar-moreno opened #986 "Interface for a parser used to load a geometry into Geant4."
Updates SimCore submodule which moves to using a factory to create a geometry parser. For now, only a parser for GDML has been added.

This issue is connected to PR [SimCore#55](https://github.com/LDMX-Software/SimCore/pull/55)

[2021-05-04 22:43] #982 closed, assigned to nobody

[2021-05-05 22:11] #986 closed, assigned to omar-moreno

[2021-05-06 16:59] tomeichlersmith opened #988 "DQM GitHub Action"
Auto-generate DQM plots for a small number of standard config files. This will just make our job of validating developments easier.

[2021-06-03 19:10] bryngemark opened #1339 "Rechit producer doesn't set module number"
In the process of ntupling TS collections, I noticed that the functionality of propagating which pad we're on outside of collection names has fallen out in the RecHitProducer: it's simply set to 0 [here](https://github.com/LDMX-Software/TrigScint/blob/5b210429691b1b91c5c77bdacad85ccc980a1e90/src/TrigScint/TrigScintRecHitProducer.cxx#L52)

I think we should
1. set it to default to -1 and not 0 (mod

[2021-06-03 19:15] bryngemark commented on #1341
The priority on this potentially increased now that there will very soon be an automatic validation procedure for PRs, involving running the DQM plots and comparing them to a set of reference plots created upon making stable releases.

I think the old digi plots still work for RecHits, since they have the same set of variables. It's mostly a matter of also making histograms of ADC, TDC and CID val

[2021-06-03 22:44] bryngemark commented on #1339
Sorry, I was wrong. Module numbers are 1,2,3. Then taking 0 to mean uninitialized is fine. Or, we take this opportunity to change this to start counting at 0 as everyone would expect?

[2021-06-04 18:29] #988 closed, assigned to tomeichlersmith

[2021-06-04 20:29] GNiramay commented on #1341
Ok. I think we can also add a few more histograms for bar IDs and perhaps the linearized charges if required.

[2021-06-07 18:42] tomeichlersmith opened #992 "More Validation Development"
With the basic structure for validation incorporated, we can start looking into various areas of improvement.

- [x] Incorporate hcal-specific simulation sample of some kind so that it can be fully tested
- [x] Write a general SimDQM analyzer for creating a standard set of sim plots to include in validation
- [x] pre-release action to generate larger sets of histograms - verified by _humans_ so th

[2021-06-07 21:09] bryngemark opened #993 "Change binning in TrigScint DQM plots"
Some of the new TrigScint DQM plots have some pretty unreasonable binning choices. I'll fix this.

[2021-06-08 15:11] tomeichlersmith commented on #993
Resolved by PR #994

[2021-06-08 15:11] #993 closed, assigned to bryngemark

[2021-06-08 18:48] tomeichlersmith opened #996 "Failure to Launch Display-Connected Programs in WSL"
**Describe the bug**
ROOT is unable to detect the X-window server from within the container when running docker inside of Windoze's Subsystem for Linux (WSL). This issue seems to be a miscommunication between the host OS (ubuntu inside WSL) and the container.

**To Reproduce**
Steps to reproduce the behavior:
1. Open WSL with Ubuntu 20.04 installed on it
2. Initialize ldmx computing environment: `

[2021-06-08 19:08] tomeichlersmith commented on #996
## Research Notes
- Run X11 server _outside_ WSL: https://stackoverflow.com/q/64047328
- Stack Overflow Answer to try: https://superuser.com/a/1476160
- Running Desktop Apps with Docker (includes Windoze but maybe not WSL?): https://betterprogramming.pub/running-desktop-apps-in-docker-43a70a5265c4
- Looks like we can check the [OS environment variable to see if we are in WSL](https://github.com/si

[2021-06-09 15:51] D-Covey09 commented on #996
A decent solution appears to be running
[code]

running root in the ldmx container will now properly display a X window on windows. You can put these in your `.bashrc` file, just replace the path of ldmx-env.sh with the absolute path.

A major issue for now seems to be that root / WSL seems to loose connection to the X server after a few minutes of inactivity. I'm unsure if it is on a timer regard

[2021-06-10 15:14] tomeichlersmith opened #998 "Unpacking Raw Data"
**The notes below are stale and should not be used as reference.** Poke Tom to get the most up-to-date implementation, things are moving fast and we will try to catch up with documentation after the test beam actually occurs.

I have recently started acquiring raw data files from an HGC ROC and I'm interested in developing an interface between them and ldmx-sw. This will (probably) be required for

[2021-06-18 13:29] tomeichlersmith commented on #926
To my knowledge, this is on `trunk` in the TrigScint module and was patched to be functionional with #1000 .
Feel free to re-open if I am mistaken.

[2021-06-18 13:29] #926 closed

[2021-06-18 13:31] tomeichlersmith commented on #959
We have found another solution that is alright in the medium term. I don't think git lfs is the solution unless we start paying GitHub for a larger amount of space.

[2021-06-18 13:31] #959 closed, assigned to nobody

[2021-06-18 13:32] tomeichlersmith commented on #935
Now has been included in the auto-validation using the DQM analyzers.

[2021-06-18 13:32] #935 closed

[2021-06-18 13:34] tomeichlersmith commented on #708
I am closing this because we have a lyso-target geometry on `trunk`. If I am mistaken, feel free to re-open and I won't touch it anymore.

[2021-06-18 13:34] #708 closed

[2021-06-18 13:35] tomeichlersmith commented on #617
This is a stale issue and I've stopped working on it.

[2021-06-18 13:35] #617 closed

[2021-06-18 13:37] tomeichlersmith commented on #955
@bryngemark How do you feel about this? It seems like we have found a patched various bugs, does that mean the overlay producer has been validated? If not, what is there left to do?

[2021-06-18 13:45] tomeichlersmith commented on #923
### Known un-realistic issues to rectify:

- [ ] The cell ID with respect to the x-coordinate will flip between sensitive layers because the modules will be flipped when mounted to make the full layer "sandwich".
- [ ]  Mousebites: The cells do not penetrate into the corners of the module hexagon to leave room for mounting

### Current known layout of module:

![ECal Module Layout](https://user-im

[2021-06-18 13:46] tomeichlersmith commented on #873
This was an overly-ambitious issue and has already accomplished most of its goals (a long time ago). I have moved the last two goals to #923 so I don't forget them as we move forward.

[2021-06-18 13:46] #873 closed

[2021-06-18 13:54] tomeichlersmith commented on #943
@bryngemark Is this patch now on `trunk` when we updated the TrigScint module to `trunk` with #1000 ? (It looks like it, but I'm less confident than the other issues I've been cleaning up).

[2021-06-18 14:01] #996 closed, assigned to tomeichlersmith, D-Covey09

[2021-06-18 15:07] bryngemark commented on #955
Hi @tomeichlersmith, I think we've found what we can with small samples. The overall variables agree well between multi-e particle gun and 1e+pileup, and the spatial overlap was probably only going to be found in tracker or TS -- and we did. @GNiramay has validated pileup extensively for TS. So I think this is as much as we'll learn for now.

[2021-06-18 15:12] bryngemark commented on #943
@tomeichlersmith yes it is! I just checked both the PR and then actually the code in trunk 😄 . I'll close this now.

[2021-06-18 15:12] #943 closed

[2021-06-18 15:37] tomeichlersmith commented on #955
Sounds good :) I am going to close this and we can make a new issue if (when) bugs are found.

[2021-06-18 15:37] #955 closed, assigned to omar-moreno, vdutta, bechenard, therwig, cmantill, tomeichlersmith, GNiramay, bryngemark

[2021-06-25 21:06] #992 closed, assigned to nobody

[2021-06-26 23:52] jmmans commented on #998
This comment is not a reply to Tom's entry above, exactly, but is instead a new subthread on the topic of compact and complete electronics ids.

As a general concept, 'electronics ids' represent the idea of the pieces of the electronics chain associated with a given cell.

The 'compact' electronics id contains only the information needed to carry out the transformation between readout space and de

[2021-06-28 16:08] tomeichlersmith commented on #998
After talking with @jmmans about how the (un)packing layer will be handled, I have formulated a more detailed plan on what to do next. My goal is to avoid having to define a new event bus object that must be compiled separately from the rest of ldmx-sw (so it is more easily available to the front-end), but I'd also like the raw event bus object to be "compact" in the sense that there isn't a separ

[2021-07-07 16:45] EinarElen opened #1007 "Support for the testbeam prototype geometry"
Hi everyone,

I&rsquo;ve been working on simulations for the testbeam prototype, which requires some modifications to LDMX-sw to support the prototype geometry, specifically in the HCal reconstruction/Detdescr geometry code. The main difference between the back Hcal and the prototype is that the number of bars (strips) depends on the layer number and that the width and height of a given scintillat

[2021-07-07 17:22] tomeichlersmith commented on #1007
Hi Einar! This is definitely a big project, so thank you for starting this issue to help move it along!

You've already noticed the `DetectorName` variable in the configuration which allows the user to change the paramete _values_ depending on the name of the geometry. Another feature I want to point out is that **the set of parameters between different detector names don't need to be the same**.

[2021-07-07 18:21] EinarElen commented on #1007
Something I just realized I should have made a bit more clear, I have essentially already created a working version of this so that we could make use of the improvements that came with v3. So other than choosing strategies/design, most of the work of has already been done!

I can imagine how this could be a bit dangerous, yes. What you are suggesting is essentially what i have been doing so far. I

[2021-07-08 14:45] tomeichlersmith opened #1302 "Can't Use Nested lists in Python Configuration"
@EinarElen caught this bug when working on

https://github.com/LDMX-Software/ldmx-sw/issues/1007

Basically, the recursion request

https://github.com/LDMX-Software/Framework/blob/450de15e79da1f9fb160a8d8eb8ff47eedafbb3e/src/Framework/ConfigurePython.cxx#L127-L138

for entries in a Python `list` assume that the entries have a `__dict__` member. Since a Python `list` is a basic type, it does not ha

[2021-07-12 20:22] tomeichlersmith opened #1008 "Image Build only uses trunk"
**Describe the bug**
The [build_production_image.yml](https://github.com/LDMX-Software/ldmx-sw/blob/trunk/.github/workflows/build_production_image.yml) workflow was designed to allow the user to input a branch of ldmx-sw to build into the image. The workflow pulls down the branch and then builds the image, but the docker/build-push-action pulls down its own copy of ldmx-sw in order to build the im

[2021-07-14 22:16] bryngemark opened #1338 "QIE digi time offset isn't accounted for in simulation"
Currently, the QIE digi code assigns a time stamp to hits which is based on allowing time` t=0` at the start of the first sample out of five, effectively adding an offset `sampleNumber*1/sampling_frequency` to the time. In addition, there's an arbitrary time shift to make sure the rising pulse is well within the sample interval.

This means that the timing of TS digis is currently offset by this n

[2021-07-14 22:28] bryngemark opened #1336 "New TS digi+rechit pipeline doesn't propagate the fraction of hit energy deposited by beam electrons"
When we designed the first TS digi (in effect, just a sim hit reconstruction layer), we introduced a variable `beamEfrac` to keep track of which fraction of a hit's energy  was actually coming from beam electrons. This number is then propagated through clustering and tracking, and is a handy method for, at very little extra cost in terms of memory, assess the quality/purity of the tracks found, an

[2021-07-26 18:37] ehrlich-uva opened #1349 "new scintillator simulation"
using lookup tables to generate scintillator photons

[2021-07-27 14:33] tomeichlersmith opened #1011 "Update-Gold Action doesn't determine samples automatically"
This is the only place where samples would need to be listed manually. I think it'll be pretty easy to have the samples listed automatically after we download all of the artifacts (as long as the samples' new gold match a specific name pattern).

[2021-07-28 15:09] #1008 closed, assigned to tomeichlersmith

[2021-07-31 20:27] therwig opened #1013 "HCal Trigger digis"
The hcal trigger primitives, based on the HGCROC sums should be added, in a manner similar to the work done for ecal.  In the central ldmx-sw repo this requires the addition of a HcalTriggerID class.

[2021-08-04 18:07] bryngemark opened #1015 "TriggerProcessor doesn't take pass name"
**Is your feature request related to a problem? Please describe.**
We will very much need to be able to rerun trigger processors using different passes (like, comparing a rereco pass to the previous).

**Describe the solution you'd like**
include pass name :)

**Additional context**
it would be _absolutely great_ if this could be included before the v3.0 release is made since it's adding to the li

[2021-08-05 17:59] #1015 closed, assigned to tomeichlersmith

[2021-08-05 18:05] bryngemark opened #1017 "electron count defaults to a value which bypasses the trigger"
**Describe the bug**
The improved electron-multiplicity aware trigger now exits if the electron count is < 1. This is in many ways sensible, but, the electron count is currently not always set to the actual number, which means `getElectronCount()` returns -1, which is the default set in `Event.h`

**To Reproduce**
Run the trigger processor in debug logger mode and behold the printout.
[code]

One

[2021-08-20 12:16] EinarElen opened #1018 "Possible off by one error in buildStripPositionMap"
**Describe the bug**
Currently, the calculation of the layer center (in z) is calculated as
[code]
However, the layer number is not zero-based and starts at 1. Therefore, the layer center of the first layer is more than one layerthickness away from the zeroLayer which doesn't seem right. To get the correct position for the prototype Hcal, this has to changed as in 7453a27. However, if I'm missing

[2021-08-20 13:49] tomeichlersmith commented on #1018
I don't think you are missing something. I think you are correct and we didn't notice because the HCal is so uniform and large, such a small change was not seen.

[2021-08-20 14:51] EinarElen commented on #1018
Makes sense. The fix is already in the prototype geometry branch, so I guess there's no rush to fix it here?

[2021-08-20 14:55] tomeichlersmith commented on #1018
No rush - unless other people weight in, I'm comfortable waiting until we merge in the prototype geometry in order to get this fix.

[2021-08-20 15:24] cmantill commented on #1018
hi, I agree with waiting for the prototype geometry. Thanks @EinarElen for catching this!

[2021-08-23 21:51] #1011 closed, assigned to nobody

[2021-08-23 22:31] tomeichlersmith commented on #1013
Forgot to link this issue, resolved by PR #1014

[2021-08-23 22:31] #1013 closed, assigned to nobody

[2021-09-08 11:06] tomeichlersmith opened #1020 "Old Volume Names in Biasing Filters"
## :bug: Description

### EcalProcessFilter
The `EcalProcessFilter` uses a specific volume name to check if the photon-of-interest is leaving the ECal.

https://github.com/LDMX-Software/ldmx-sw/blob/f271e20c959b235daa109d46e779cb903e6e65a6/Biasing/src/Biasing/EcalProcessFilter.cxx#L102-L103

This volume name is _only_ used here and I can't find where it is defined (search in [ldmx-sw](https://gith

[2021-09-13 21:20] tomeichlersmith opened #1021 "Compatibility for Older Singularity Installs"
**Describe the bug**
Older versions of singularity (most [notably version 3.5.2](https://sylabs.io/guides/3.5/user-guide/cli/singularity_run.html) installed at [UCSB](http://csc.cnsi.ucsb.edu/docs/pod-cluster)) does not have the `--env` parameter allowing us to define a select set of environment variables to be defined for inside the container.

**Desired behavior**
It would be nice for the enviro

[2021-09-13 21:26] tomeichlersmith commented on #1021
We can wrap our singularity command with a call to [env](https://man7.org/linux/man-pages/man1/env.1.html) making sure only the environment variables we want persisted are persisted i.e.

[code]

Probably further modification will be necessary.

[2021-10-16 00:28] bryngemark opened #1029 "TS RAW<-->digi emulation"
**Is your feature request related to a problem? Please describe.**
This will come in handy for making TS monitoring histograms, for instance.

**Additional context**
Once the encoding/decoding code in my `TrigScint` pull request (issue 31) is reviewed and agreed upon, I'll make a request to merge it in with `ldmx-sw`

[2021-10-20 19:11] #1029 closed, assigned to nobody

[2021-10-20 19:19] tomeichlersmith commented on #998
These notes are so old they aren't useful anymore. With the merging of #1031 and #1025 I'm calling this done.

[2021-10-20 19:19] #998 closed, assigned to nobody

[2021-10-20 19:20] tomeichlersmith commented on #1007
Merged this branch in manually.

[2021-10-20 19:20] #1007 closed, assigned to nobody

[2021-10-22 17:24] aechavez opened #1032 "Scoring plane at front of ECal overlaps with ECal"
**Describe the bug**
Taking a look at the constants.gdml (Lines 289-293 and line 304) and the scoring_planes.gdml (Line 27) for ldmx-det-v12, we can see that the ECal parent volume begins at z = 240.mm and the ECal itself begins 0.5mm away at z = 240.5mm. However, the z position of the scoring plane at the front of the ECal is z  = 240.5005mm, which implies that the scoring plane is defined by 240

[2021-10-28 19:37] tomeichlersmith commented on #1018
This was patched upon merging the prototype developments into trunk.

[2021-10-28 19:37] #1018 closed, assigned to EinarElen

[2021-11-02 16:06] #913 closed

[2021-11-02 16:58] omar-moreno commented on #1032
@aechavez Can you post a picture of the rendered detector? This will give us a better idea of how the overlaps look.

[2021-11-02 17:00] omar-moreno commented on #721
We no longer have v9 samples so there is no need to fix this anymore.

[2021-11-02 17:15] EinarElen commented on #1018
Hi @omar-moreno, what does this assignment represent? This was resolved when we merged 7453a27

[2021-11-02 18:02] omar-moreno commented on #1018
It's for bookkeeping purposes only. You can ignore it.

On Tue, Nov 2, 2021 at 10:15 AM Einar Elén ***@***.***> wrote:

[2021-11-02 18:33] omar-moreno commented on #985
The reason it's 3x3 m^2 in the simulation was because it allowed studying of smaller geometries by just restricting the number of layers used in analysis. At this point, I don't see a consensus as to what the size of the HCal is going to be so it's likely we will leave it as a 3x3 m^2 detector for the foreseeable future.

Beyond the geometry changes, it seems like all other issues should go into t

[2021-11-02 18:43] tomeichlersmith commented on #985
yea, that makes sense.

[2021-11-02 18:43] #985 closed, assigned to nobody

[2021-11-02 18:49] bryngemark commented on #721
I know that's true at slac, but it's not entirely true: we're basing the 8 GeV paper on v9 (to make as minimal a change possible to the veto paper). This (and that the old samples are gone) is why it might be a really good idea to be able to generate 4 GeV v9 samples, to cross check.

[2021-11-02 18:50] omar-moreno commented on #721
Good point! Forgot about the 8 GeV, v9. Thanks for pointing this out.

[2021-11-11 06:43] aechavez commented on #1032
I've attached several sketches of the detector that I put together in Math3D and Desmos. As you can see below, these are just some pictures of boxes that I have surrounding the target (Gray), trigger pads (Black), and ECal (Green).

<img width="1245" alt="Screen Shot 2021-11-10 at 10 07 30 PM" src="https://user-images.githubusercontent.com/57649078/141249131-b77c62fc-6dc5-4408-9419-b5986fc0def0.pn

[2021-11-11 07:34] aechavez commented on #1032
There are two other related items that I think I should mention here:

1. When I first brought this up, Joe mentioned that it might be better if the front ECal scoring plane were set closer to the first silicon layer. The reason is that for the BDT studies we have been using the position/momentum of the incoming electron at the front ECal scoring plane to make a projection of its trajectory. If th

[2021-11-15 15:46] tomeichlersmith opened #1037 "Apply HCal Unpacking Knowledge to ECal"
We did a lot of quick development of the HCal unpacking pipeline during the testbeam. I am planning on copying a lot of what we learned back over to the ECal. Since we weren't able to fully test the unpacking pipeline, the work that will end up being merged in will not be 100% ready; however, it will be significantly closer than what we currently have.

## Locations
- [x] DetDescr/EcalElectronicsI

[2021-11-18 17:43] tomeichlersmith commented on #1037
@jmmans I need some insight on how to proceed.

For the testbeam, we were orienting our decoding to work with a _single_ FPGA since that was all that was needed to readout our small prototype HCal (to my knowledge). Even if in reality this is not correct, the software decoding the event buffer has a few places where a single FPGA is assumed.

Anyways, the basic structure in the software follows th

[2021-11-18 17:59] jmmans commented on #1037
A few comments, some which are a bit random:

 (1) I generally refer to the FPGA on the front-end specifically as the Polarfire for clarity.  The data will pass through multiple FPGAs in its processing, so it can be ambigous what a question is asking.

 (2) I expect the Polarfire will continue to work as it does now -- by handling single readout requests, even if multiple readout requests are need

[2021-11-18 18:46] tomeichlersmith commented on #1037
Thank you for this elaboration, this makes sense.

[2021-11-30 17:08] #1037 closed, assigned to tomeichlersmith

[2021-12-06 16:54] tomeichlersmith opened #1041 "Prevent auto-update on Docker systems"
**Describe the bug**
Container is automatically updated when `source scripts/ldmx-env.sh` is run to newest `latest` version of the container on Docker systems. This is annoying behavior especially when the newer container has not been fully tested or verified.

Going to probably need to modify how `ldmx use` and `ldmx pull` function...

[2021-12-06 22:06] tomeichlersmith commented on #1041
https://github.com/LDMX-Software/ldmx-sw/blob/8817eb8b8918029e5f9ee3088d34565dd34c8a4f/scripts/ldmx-env.sh#L104-L130

The code for `_ldmx_use`  (what is called for `ldmx use` and `ldmx pull`) looks like it should be prevented from auto-updating. I double checked on my laptop using Docker on Ubuntu.
[code]

This is the same container and same docker version as on the computer where the error was se

[2021-12-06 22:20] tomeichlersmith commented on #1041
I can get around my argument checking by using a sneaky set of quotes:
[code]
will act like
[code]

[2021-12-07 15:24] tomeichlersmith commented on #1041
Specific issue is on a computer running WSL, so I'm linking [the docker docs](https://docs.docker.com/desktop/windows/wsl/). I haven't been able to perfectly replicate the bug, so I'm thinking it is a weird configuration issue with WSL.

[2021-12-08 20:56] tomeichlersmith commented on #1021
@davidgjiang @p-masterson

Are either of you able to comment on the singularity version at UCSB? I'd really like to avoid adding in this level of complexity to the environment script if you are able to update singularity there. Obviously if no path to updating is possible, then I can investigate this issue further.

[2021-12-08 21:33] p-masterson commented on #1021
Hi Tom!  I think the default version at pod is 3.5.2, and 2.4, 2.4.6, and
2.6 are also available without any complications.  Are we going to need a
later/earlier version for future ldmx-sw updates?

On Wed, Dec 8, 2021 at 9:56 PM Tom Eichlersmith ***@***.***>
wrote:

[2021-12-08 22:04] tomeichlersmith commented on #1021
The issue is that the environment script assumes that `singularity run` has the `--env` parameter for sharing specific environment variables with the container. If you aren't using the environment script at pod and just using it for large scale purposes, then we are all set.

I cam across this issue when trying to help David get started. I have since lost track and so I wanted to ask you both wher

[2021-12-10 15:31] p-masterson commented on #1021
Ah, I remember that one...we're using the container at pod and will
probably keep doing so, but I think we found in the past that commenting
the env line would get rid of any issues.  Is that still going to be a
consistent solution, or do we definitely need to include the line in future
versions?

On Wed, Dec 8, 2021 at 11:04 PM Tom Eichlersmith ***@***.***>
wrote:

[2021-12-10 16:02] tomeichlersmith commented on #1021
Good question. It is definitely a good solution if it works at your site. The reason we (often) want to use `--cleanenv` and `--env` is so that we don't accidentally "pick up" any dependencies that exist outside of the container.

Specifically, I implemented the `env` flags because at UMN, there was a `ROOTSYS` environment variable _outside_ the container which would conflict with the `ROOTSYS` _i

[2021-12-10 16:02] #1021 closed, assigned to nobody

[2021-12-14 16:24] #1041 closed, assigned to tomeichlersmith

[2021-12-29 10:14] EinarElen opened #1043 "Improved debugging QOL"
**Is your feature request related to a problem? Please describe.**
Debugging using std::cout and its friends works but is rather limited compared to using more standard debugging tools/features. In particular, I find myself missing two features when working on LDMX-sw (especially when something crashes!), a dedicated debugger and the various sanitizers (in particular address and undefined behavior

[2021-12-29 11:02] EinarElen commented on #1043
Realized I didn't really explain what the sanitizers are and the documentation isn't... great if you don't already know what they are doing.

This talk (link should bring you to 42:00) gives a demo of some of the tools. I should note here that the talk is a couple of years old and, in particular, GCC comes with the same functionality these days
https://youtu.be/uZI_Qla4pNA?t=2521

[2021-12-29 14:56] EinarElen opened #1044 "Conditions::getConditionPtr assigns a nullptr to a reference (UB)"
# Describe the bug

When working on <https://github.com/LDMX-Software/ldmx-sw/issues/1043>, I ran LDMX-sw with UB-sanitizers enabled which found a case of us assigning a `nullptr` to a reference. This happens if you call `Conditions::getConditionsPtr` before the process object has set the EventHeader member (i.e. before the loop over the number of events in `Process::run()`).

# To reproduce

Comp

[2021-12-29 19:21] tomeichlersmith commented on #1043
I think this is a superb idea. I would love to modernize our tool set within the container and I really appreciate the thorough explanation of your use of debuggers/santizers in this issue and #1044 (since I have no experience with them).

In #1044 you mentioned that you had a local container with the extra tools you were using. Please upload your Dockerfile to a new issue in [LDMX-Software/docker

[2021-12-31 16:28] EinarElen commented on #1043
I'd love to try and creating a branch myself, just to get familiar with the workflow. Regarding the CMake support, I already have this ready as well so I'll open a branch/issue for it :)

[2022-01-06 12:30] EinarElen opened #1045 "Examples/documentation fails to set runNumber correctly"
Not entirely sure where to place this issue, it touches multiple repositories although perhaps
primarily https://github.com/LDMX-Software/ldmx-software.github.io

When working with some of the simulation samples that were produced for the
prototype testrun, <https://github.com/PeterGy> noticed that the samples that were
supposed to have different runNumbers didn&rsquo;t. As it turns out, several p

[2022-01-06 15:11] tomeichlersmith commented on #1045
Thank you for offering to fix up the documentation! I think that is very important and I agree that many others have probably run into this issue. You are also correct that the new method for configuring the run number is using the Process object `p.run` rather than the simulator directly.

As for the more long term solution, I've been trying to figure this out for some time. The basic issue is tw

[2022-01-06 15:25] EinarElen commented on #1045
Yes, I've also been scratching my head a bit trying to think of good ways to deal with this in general. My sense is that, as you say, doing it at the python level is going to get weird. So I've also been thinking more along the lines of doing some bookkeeping at the C++ layer. Ideally, you would want everything to happen at configuration time but a warning at the end of a run would probably still

[2022-01-06 15:33] tomeichlersmith commented on #1045
That's a good point... I'd put the warning in the destructor then. Most instances will be destructed at the end of configuration, but there will be a few copies that won't be destructed until the end of the run. This also forces the check to happen without any additional necessary code.

[2022-01-06 15:54] EinarElen commented on #1045
I can make an attempt to implement that after I've done the cleanup!

[2022-01-06 16:08] jmmans commented on #1045
I would strongly consider the unintended consequences here.  A strict requirement that all parameters are used in all cases is going to be a major pain I expect.  No leaving anything in there when trying two different cases, etc.  I would even imagine there may be cases where a parameter is only needed for some types of runs, but that may not be clear until the system is running.  A "general solut

[2022-01-06 16:40] EinarElen commented on #1045
I have been thinking about all of those things. First of all, to be clear, I don't think anyone is advocating for any strict requirements.

This is also not the only case where you can run into similar trouble. The other thing that I've seen a couple of people run into which can be incredibly painful to debug is typos in the python config. These kinds of things have a very real cost to ignore. Bes

[2022-01-14 10:03] EinarElen commented on #1045
So, I've been looking into where we are doing things like `sim.runNumber` in our python code and examples. We have a bunch of places that look like https://github.com/LDMX-Software/ldmx-sw/blob/trunk/Biasing/python/target.py where we are defining functions that produce a simulator object. Since these functions don't take a process object, they have no way of actually setting the runNumber anymore.

[2022-01-14 16:54] tomeichlersmith commented on #1045
The python objects that create a simulator are used in the test scripts `test/*.py` and used in some production although many people doing production just use those modules as examples and then write their own creation for the simulator themselves.

I think having the run number not set by those functions is a feature because the run number should be centrally controlled and those functions are ju

[2022-01-14 16:55] EinarElen commented on #1045
Sounds good!

[2022-01-15 13:56] EinarElen opened #1047 "The HcalGeometry (in DetDescr) __str__ function doesn't work"
**Describe the bug**
Just some typos that need to be patched.

**To Reproduce**
Try printing a HcalReadoutGeometry object :)

**Desired behavior**
Output of all the parameters is printed without any errors.

[2022-01-15 14:53] EinarElen commented on #1047
I went ahead and restructured the function as a whole to be a bit more useful for debugging things (and handling the difference between the three geometry types to some degree). Given that the function was broken, I'm going to assume that its safe to say that nobody was using it at the moment.

Something along the lines of (from 9f2e2e6d4a48e6f3111936f445c9e1320719da3f)
[code]

gives the following

[2022-01-17 19:40] EinarElen opened #1348 "Large positions and energy in Hcal reconstruction"
# Strange Hcal Reconstruction output

## Describe the bug

There seems to be two strange parts of the Hcal reconstruction output (at least with the prototype geometry).

1.  Some hits have positions that are wildly outside of the geometry

    This seems to happen when we have one of the TOA values (`TOA_posend` or `TOA_negend`) be negative and the other positive. I suspect that negative TOA value

[2022-01-18 14:34] EinarElen commented on #1348
I've been looking around a bit for these things, @cmantill is a negative TOA value ever reasonable? If not, I might have an idea of where to look into

[2022-01-18 14:41] cmantill commented on #1348
It shouldn't be, but is possible that the TOA correction is actually causing this? Can you check if it is positive before this line? https://github.com/LDMX-Software/Hcal/blob/trunk/src/Hcal/HcalRecProducer.cxx#L103

[2022-01-18 14:46] EinarElen commented on #1348
I'll mess around and see what I can find!

[2022-01-18 15:26] EinarElen commented on #1348
I went through one call to getTOA that yields a negative TOA. The loop variables unfold as seen in the end of this comment (the counter is the sample number).

This then gives the TOA as
[code]
- 0:
  - TOA: 0
  - ADC: 0
  - maxMeas: 0
  - maxSample: 0
  - toaRelStartBx: 0
  - toaSample: 0
- 1:
  - TOA: 0
  - ADC: 1
  - maxMeas: 0
  - maxSample: 0
  - toaRelStartBx: 0
  - toaSample: 0
- 2:
  - TOA

[2022-01-18 15:43] EinarElen commented on #1348
It shouldn't have been possible that it would have been caused by this update 0d1e4b437909f3c1bfee220b52f065bf1f8466da but I checked to confirm. Issue is still there.

[2022-01-19 13:32] EinarElen commented on #1348
Ok the energy is just a factor 2 larger than before. I'm guessing this is because the voltage is defined as
[code]
and the energy is given by
[code]

Is this double counting intended? If so, I can just deal with it in my analysis

[2022-01-21 19:44] EinarElen opened #1048 "Python bindings for DetectorIDs"
We discussed getting access to the various DetectorID classes from python with Boost.Python. I've been trying things out and I think the following is what would be needed

- Updating the container to compile Boost.Python properly https://github.com/LDMX-Software/docker/issues/41
- Adding some `find_package` components in the CMakeLists.txt for DetDescr
- Add a source + header file that defines the

[2022-01-21 20:16] omar-moreno commented on #1048
@EinarElen This seems like a reasonable approach. Go for it :)

[2022-01-22 20:11] EinarElen commented on #1048
Ok, I now have a version that makes all of the IDs accessible from python. You can see it over here https://github.com/LDMX-Software/ldmx-sw/blob/iss1048-detectorID-bindings/DetDescr/src/DetDescr/DetectorIDBindings.cxx

I also add the necessary CMake scaffolding to the DetDescr subdirectory. I went for making bindings an optional and off by default feature, so things will still compile with contai

[2022-01-23 18:55] cmantill commented on #1348
hi @EinarElen, looking at this on more detail, we made this change of a factor of 2 because of issue [16](https://github.com/LDMX-Software/Hcal/issues/16). I think the `num_mips_equivalent` should stay as is since we want the total number of PEs saved as the sum, while we could introduce the facto of 2 in the energy calculation:
[code]
Or, we can leave it for the analysis. Do you have a strong opi

[2022-01-25 20:51] EinarElen commented on #1348
That would work for me, but wouldn't that create issues for single ended readout which would then get half the energy?

[2022-01-27 09:08] EinarElen opened #1049 "RunNumber cleanup"
RunNumber cleanup, see https://github.com/LDMX-Software/ldmx-sw/issues/1045

By running a quick `ag runNumber`, the following cases in SimCore show up
- test/basic.py
- python/examples.py.in

[2022-01-27 09:32] EinarElen commented on #1045
The following repos have examples that need to be patched
- https://github.com/LDMX-Software/Hcal/issues/22
- https://github.com/LDMX-Software/SimCore/issues/62

In addition to this, there are a couple of cases in the Biasing module
- [Biasing/test/energy_sort.py ](https://github.com/LDMX-Software/ldmx-sw/blob/trunk/Biasing/test/energy_sort.py)
- [Biasing/python/target.py](https://github.com/LDMX-

[2022-01-27 13:34] EinarElen commented on #1348
![hitsOutsideDetector](https://user-images.githubusercontent.com/14233914/151368995-c1c4ca5c-0641-4da8-bfa4-ac586985b061.png)

Here's a plot showing the position issue. It shows results for 10k 2 GeV pi- events with the prototype geometry. The histogram contains all hits that have a position along the bar outside of the bounds of the detector

[2022-02-03 15:39] EinarElen commented on #1348
Ok my comments before were a bit confused (or maybe I'm confused now), but I guess that `getTOA` returns a relative time so that time being negative in and of itself wouldn't be an issue necessarily.  However, the problem still remains. And it isn't caused (at least note solely) by the correction step.

For example, I have an event where
`fabs(TOA_posend - TOA_negend) = 80` (with correction)
`fabs

[2022-03-25 19:02] tomeichlersmith opened #1053 "Patch to Electronics ID deduction"
Following discussion with @mrsolt .

- Each HGC ROC has two "halves" that act almost independently and each of these halves produce their own data packets via their own link.
- Confusingly, the chip numbers the channels on it continuously across the two halves. Generally, the "lower" half (channels 0-35, on the board numbered 1 through 35) is given the link number (2 * ROC ID) and the "upper" half

[2022-03-25 19:03] tomeichlersmith commented on #1053
Transferring this issue to ldmx-sw since it will require changes to `HcalElectronicsID`.

[2022-03-25 19:33] jmmans commented on #1053
Sorry, what?  If a link goes down, for example, it's down.  For unpacking purposes, the two half chips are independent.  I disagree with this proposal.

[2022-03-25 19:35] jmmans commented on #1053
Also, if this is related to HCAL, HCAL doesn't use several of the channels /anyway/ because it operates in sum-by-four mode for trigger primitives.  I would NOT redesign the software id on this basis.

[2022-03-25 19:36] tomeichlersmith commented on #1053
Where would the translation between the channel numbers listed physically on the board and the channel numbers as given in the independent links be done? Does the detector mapping need to already include this translation? Does the HcalDetectorMap loader perform this translation while reading?

Edit: I'm not opposed to keeping the electronics IDs the way they are currently, I'm just trying to make

[2022-03-28 18:58] #1053 closed, assigned to nobody

[2022-04-29 13:24] tomeichlersmith opened #1062 "Transcribe Detector-Wide Testbeam Conditions"
Need to write conditions objects that can deliver various detector-wide details to processors. The most obvious of these is the beam settings (e.g. particle and energy) but others may also become apparent as we crawl the TB elog.

[2022-05-01 00:09] jmmans opened #1307 "Fix issues with https loading"
Get https working from within ldmx-sw without the current hack of spawing a wget subprocess.

[2022-05-04 14:26] EinarElen opened #1063 "Updates to the hcal prototype geometry"
The current ldmx-hcal-prototype-v1 geometry differs from what was actually used at the test beam so we need to add a couple of new GDML descriptions (corresponding to different configurations that were used) which also brings along some necessary updates to LDMX-sw (mostly for the Hcal submodule but also in DetDescr).

- The ordering of horizontal and vertical layers in the prototype differs from

[2022-05-06 15:56] EinarElen commented on #1063
@bryngemark I've pushed a version which has @PeterGy's latest work on https://github.com/LDMX-Software/ldmx-sw/tree/iss1063 in the Detectors/data/ldmx-hcal-prototype-v2.0 directory. There are some different versions of the TS available in the trigger_physvols file, but everything except plastic should be commented out by default.

[code]

I stole this from what @PeterGy has been using and it does

[2022-05-06 16:03] bryngemark commented on #1063
very helpful, thanks @EinarElen! this looks reasonable.

[2022-05-10 15:07] PeterGy opened #1067 "Testbeam reconstruction wrong barID assignment"
**Describe the bug**
During reconstruction, each pair of bars is assigned the same ID, one of them being correct and the other wrong.

**To Reproduce**
Steps to reproduce the behavior:
1. Decode a testbeam run, in this case run 287 fpga0, using decode.py found in [ldmx-tb-online](https://github.com/LDMX-Software/ldmx-tb-online/blob/main/near-offline/hcal/decode.py)
2. List every reconstructed barI

[2022-05-12 14:32] tomeichlersmith opened #1303 "Python Config Validation"
**Is your feature request related to a problem? Please describe.**
It is _very_ common to misspell parameters and occasionally have parameters with incorrect types. We can avoid this issue by only allowing the insertion of new parameter names to occur _once_ at class construction.

**Describe the solution you'd like**
I sketched out a solution that will check the existence and type of parameters w

[2022-05-12 15:46] tomeichlersmith commented on #1303
More fleshed out base class:

[code]

[2022-05-16 17:46] cmantill opened #1347 "Updates to the Hcal reconstrucion"
## Goals

- [ ] Update waveform (pulse)
- [ ] Update amplitude correction (Ampl[t-1]/Ampl[t])
- [ ] Update TOA timewalk correction
- [x] Add TOT reconstruction
- [x] LDMX-Software/Hcal#42
- [x] Make sure that all digis are processed. Currently the code assumes that digis are ordered. See issue [1067](https://github.com/LDMX-Software/ldmx-sw/issues/1067).
- [x] Modify the position measurement for m

[2022-05-16 17:55] cmantill commented on #1067
Was able to reproduce this issue.
It is a bug on the HcalRecProducer, fixed with [this commit](https://github.com/LDMX-Software/Hcal/commit/5c33cfaab9c26913ef48b9ec06f5c0fe6dcd3ab9).
Should be integrated when issue 40 is fully tested.

[2022-05-19 16:05] tomeichlersmith opened #1300 "Deduce "minimum" Conditions IOV"
When using requestParentCondition multiple times in one condition provider, there is a possibility that the returned conditions will have different IOVs. In this case, we need to develop an algorithm to find the "smallest" or "minimum" IOV so that `getCondition` is called the next time something needs to be updated.

@jmmans I'd love to hear if you have thoughts on this at all.

### context
https:

[2022-06-07 13:32] LisaALoman opened #1069 "Photo Nuclear DQM not working with upKaons branch"
I am trying to run Photo Nuclear DQM when I am doing simulations using the `upKaons` branch and a beam energy of 8GeV. I got some help to look into it and it seems like the daughter track IDs are not in the particle map.
I am getting the following error:
[code]
In my config file I am using the simulator function `ecal.kaon_pn`, which is in a modified version of `Biasing/python/ecal.py` .

This is

[2022-06-07 15:41] tomeichlersmith commented on #1069
The error implies that we are attempting to call an "unchecked" `map::at` with an input that does not exist. (By "unchecked", I mean we don't check that the key we are requesting exists in the map.) This generates the `std::out_of_range` exception which is not caught by anyone causing the program halt. The `std::map` object that the DQM uses is the map of sim particles from the event, so I think t

[2022-06-07 18:22] tomeichlersmith commented on #1069
I was able to reproduce the error so I have a good place to start from.

Putting in printouts around the map::at calls highlighted above showed that the lower one on line 54 of AnalysisUtils is what is throwing the exception.

[code]
This function is attempting to deduce which particle is "the" PN gamma. It follows the criteria
1. Child of the recoil electron
2. Children produced by PN
3. Above in

[2022-06-07 18:34] omar-moreno commented on #1069
For typical samples, the PN gamma should always come from the recoil electron and should crash if it doesn't.  The fact that it's crashing here is pointing to an issue with the samples and not the code.

[2022-06-07 18:35] omar-moreno commented on #1069
Maybe, add an exception is the PN gamma is not associated with the recoil instead.

[2022-06-24 18:44] tomeichlersmith commented on #1347
Working on add TOT recon with LDMX-Software/Hcal#44

[2022-07-15 11:47] EinarElen commented on #1063
I've uploaded the basic configuration (plastic TS, no shifted bars) of the April testbeam to https://github.com/LDMX-Software/ldmx-sw/tree/iss1063 together with an updated DetDescr readout geometry. See updated test config below.

However, if you try to run this by default you will crash when running the HcalRecProducer. This is because the ordering of the layers has changed. In the April testbeam

[2022-07-15 14:11] EinarElen commented on #1063
I went ahead and tested doing things this way and it wasn't particularly complicated to do. So if it makes sense, I can go ahead and implement it.

[2022-07-15 16:40] bryngemark commented on #1063
Another option is to have the parity of the layers configurable, as in `horizontalParity_=1`, and then check,
[code]
Could still be set in the python script or the conditions but you wouldn't have to check for which configuration you're using.

[2022-07-15 17:52] EinarElen commented on #1063
Oh yeah that's much better. The question of putting it as part of the condition or as a part of the configuration is hard, i would lean towards putting it in the condition since, in principle at least, once you choose your geometry it would be a bug to select the wrong parameter. On the other hand though, having the partity change invisibly when you change detector geometry might be the kind of th

[2022-07-19 16:47] tomeichlersmith opened #1346 "Standardize Data Filtering"
Following discussions with @jmuse13 , there are several cuts that could be helpful for everyone. How to actually implement these cuts is still up for debate, but this can be a helpful issue for keeping track of our notes.

## Channel-by-Channel
Cuts that are removing digi hits from specific channels.

- [ ] Noise hits - cut out channels who are in ADC mode and max ADC < some configurable threshold

[2022-07-20 16:40] tomeichlersmith commented on #1047
Fix implemented by PR mentioned above.

[2022-07-20 16:40] #1047 closed, assigned to nobody

[2022-07-21 14:10] tomeichlersmith commented on #890
An update on the layer geometry as presented at a [May 2021 Ecal Meeting](https://indico.fnal.gov/event/49039/). This is the latest design that I can find on indico. The shape of the tungsten layer as well as the motherboards are the two biggest changes.

![ecal_plane_layout_May_2021](https://user-images.githubusercontent.com/31970302/180234359-1712ec4f-d77d-4d92-acb5-11bfe4f3fd78.png)

[2022-07-27 17:53] tomeichlersmith opened #1074 "Design Report Geometry Update"
The Design Report (DR) is a good chance for LDMX to rerun our large simulation studies with an updated geometry that is more realistic and follows the changes that have been made within those subsystems due to their own detailed studies and engineering developments. This issue is a tracking issue focused on keeping the organization of this large geometry update together.

**The DR geometry will be

[2022-08-10 16:35] omar-moreno opened #1077 "Update Tracker Geometry"

[2022-08-11 13:47] #1048 closed, assigned to nobody

[2022-08-11 20:07] #1045 closed, assigned to nobody

[2022-08-19 17:53] tomeichlersmith commented on #1303
Going to put this on the back-burner for a later major release. It would require updating _all_ of the python modules to convert the old style of setting defaults to the new style of passing them into the `super().__init__` call.

I could look at writing a python script which parses the python and converts old into new but that sounds like too much work at the moment.

### Old Style
[code]

### Ne

[2022-08-22 15:19] tomeichlersmith commented on #890
## Aug 22, 2022 Meeting with Susanne
- Back-planes are modeled as simple rectangular boards at this time
- 3/16 inch thick carbon cooling planes
- carbon cooling planes should just be solid layer of carbon fiber+epoxy composite
  - ratio of epoxy to carbon is the physical parameter
- will send along exported models of tungsten layer, strong backs, motherboards as time allows

[2022-09-01 15:43] tomeichlersmith opened #1081 "Hgcroc Decoding Bug (again)"
**Describe the bug**
@jmuse13 found this bug after _thorough_ comparison of beam and calib TOT data. This bug **only** affects TOT so all the reco that is being done using ADC values will remain unchanged. We are pretty confident that the decoding of the calib data is correct, so the conditions themselves won't change either. We will just be updating how the TOT is decoded from the 32-bit data wor

[2022-09-01 15:53] tomeichlersmith commented on #1081
I used `find` and `grep` to check that **all** of the configurations stored have `SelRawData = 1` so we don't need to worry about adding an extra flag about whether that is set.

This means fixing this bug amounts to updating the following line in `HgcrocDigicollection::Sample::tot()`

https://github.com/LDMX-Software/ldmx-sw/blob/4b14d51c2a78b930bcfbf5f79c9286d79951a0cc/Recon/include/Recon/Event/

[2022-09-01 19:45] #1081 closed, assigned to nobody

[2022-09-02 18:23] tomeichlersmith opened #1084 "Production Image Dockerfile fixup"
**Describe the bug**
The Dockerfile here assumes the dev container's entrypoint is at `/home/ldmx.sh` but in versions after `v2.0`, it was moved to `/etc/entry.sh`. This, among other things, are reasons for updating the Dockerfile.

## Other Fix-Ups
- [x] We could also avoid re-defining the entrypoint by making the environment variable `LDMX_INSTALL_PREFIX` be checked before assuming `LDMX_BASE/ld

[2022-09-02 20:21] tomeichlersmith opened #1305 "Implement Improved BDT"
@aechavez developed a better-performing ECal BDT [in python](https://github.com/IncandelaLab/LDMX-scripts/tree/master/pyEcalVeto) and we are looking at implementing it into ldmx-sw so that it can eventually replace the current BDT that is part of the ECal Veto.

This implementation can probably be tied with LDMX-Software/ldmx-sw#1306 which already plans to de-couple the calculation of ECal shower

[2022-09-06 16:56] tomeichlersmith commented on #1020
I found out while developing the ecal geometry that situation number (3) is indeed what happens. If a `<physvol>` is declared without a specific name parameter, the default name is the logical volume name with `_PV` appended to it. This is a Geant4 GDML internal default and is not considered a bug. Since this is so confusing, I am going to leave this issue open with the goal of inserting some extr

[2022-09-08 14:03] bryngemark opened #1085 "trigger OR processor, needed for multielectron"
**Is your feature request related to a problem? Please describe.**
I'd like to be able to OR (or AND) triggers and then trigger skim on that, for future trigger efficiency studies.

**Describe the solution you'd like**
I think the easiest is to make a new processor, which takes a configurable list of trigger collections, a configurable logic (doOR, doAND), and given that, checks whether the event

[2022-09-08 21:52] mrsolt commented on #1085
I support this. I was also wondering how to get a skim for the missing energy visible A' trigger for the large scale production, and I think this could be useful. The trigger logic for this visibles trigger is already in the software, and we validated it. You just select the front portion of the Ecal to sum the energy for a missing energy trigger, instead of the entire Ecal.

Unfortunately, the st

[2022-09-09 07:01] bryngemark commented on #1085
Great! Yes my thought would be that this processor is just checking which of the individual specified triggers pass the event and then selects what to do based on OR/AND settings, so the actual specific trigger logic is kept separate. (Clarifying the idea here for @rodwyer100 who has volunteered to actually code it up.)

[2022-09-09 15:38] #904 closed

[2022-09-09 15:38] #890 closed

[2022-09-09 15:38] #923 closed

[2022-09-13 20:54] joyang8caltech opened #1086 "add a v14lyso branch"
**Describe alternatives you've considered**
Add a new v14lyso branch that contains geometric descriptions of active LYSO target in constants.gdml and target.gdml

[2022-09-16 15:29] tomeichlersmith commented on #1303
More discussion https://github.com/LDMX-Software/ldmx-sw/issues/1045

[2022-09-16 19:32] tomeichlersmith commented on #1303
@awhitbeck pointed out that [`__slots__`](https://docs.python.org/3/reference/datamodel.html#slots) is a potential alternative. This would allow us to define the names of the class attributes at a class-level which can then be enforced downstream.

The snag that I can think of right now is that the Python-C++ translation relies on pulling the variables from the `__dict__` member; however, it may b

[2022-09-16 19:40] tomeichlersmith commented on #1303
`__slots__` does prevent dynamically defining _new_ attributres; however, it still allows the type to be changed. Still unsure on how we'd extract these variables on the C++ side.
[code]

[2022-09-21 12:48] awhitbeck opened #1087 "move TS modules upstream of tagger tracker"
For upcoming MC campaign, we would like to move the "down" TS module upstream of the tagger tracker.

We will pull the TS modules out of the tagger volume and put them into a separate volume.

Currently, we have a new description of the geometry in the V14 detector folder on `TS_geom_edits` branch of LDMX-SW and the SimCore module.

[2022-09-21 12:54] awhitbeck commented on #1087
@bryngemark I have made a dedicated issue to moving the TS modules.  I pushed all of my code.  Thanks to help from @tomeichlersmith and @omar-moreno the new GDML is properly getting loaded by LDMX-SW and I can run simulations.  However, I don't see any sim hits in the output root file.

Some caveats to where we are currently:

- currently I have commented out the target GDML, though I think this d

[2022-09-21 13:00] tomeichlersmith commented on #1087
I have no idea, I haven't tried.

Remember: The SDs are attached via python configuration now rather than in the GDML. This relies on the configuration using the correct names. https://github.com/LDMX-Software/SimCore/blob/0656170b61f39dd972c6b8fd01fd9707391001d5/python/sensitive_detectors.py#L105-L142

[2022-09-22 12:03] bryngemark commented on #1087
hi @tomeichlersmith, i've been trying to get the simhits in place by adjusting the SD info. i think i can conclude that this is indeed the issue since i don't see any TS SDs being loaded when i run:
[code]
-- i _think_ the "v12" in the runheader description is just hardwired from somewhere; i'm using v14 (and i know it bcs i commented the target as andrew recommended, and it's not showing up eithe

[2022-09-22 12:48] bryngemark opened #1088 "Implement Birks' law for the trigger scintillator in framework"
**Is your feature request related to a problem? Please describe.**
We need to account for Birks' law in the TS light yield calculation, especially for LYSO. Looking at how this is implemented for HCal, it seems to be a rather straightforward addition.

**Describe the solution you'd like**
Our implementation could be based on [what's done in the HCalSD.cxx](https://github.com/LDMX-Software/SimCore/

[2022-09-22 13:41] awhitbeck commented on #1087
right, if you change these lines in `SimCore/python/sensitive_detectors.py` you can see the the SDs get attached.

[2022-09-22 13:45] tomeichlersmith commented on #1087
After creating the sensitive detectors, you need to give them to the simulator so that they are used.
[code]
The default connection is done in [simulator.setDetector](https://github.com/LDMX-Software/SimCore/blob/0656170b61f39dd972c6b8fd01fd9707391001d5/python/simulator.py.in#L90-L127) and uses the helper functions in `sensitive_detectors.py`.

BTW, the detector name in the run header description

[2022-09-22 13:50] awhitbeck commented on #1087
thanks, @tomeichlersmith.  I think these function calls don't need to b changed.  I didn't change the name of these functions in my edits to SimCore [here](https://github.com/LDMX-Software/SimCore/blob/TS_geom_edits/python/sensitive_detectors.py#L120-L130).  I'll try to double check though.

[2022-09-22 13:51] awhitbeck commented on #1087
ah, one more thing, is the detector name important within ldmx-sw?  Could the name being 'v12' cause issues?

[2022-09-22 13:56] tomeichlersmith commented on #1087
yes, many geometry conditions rely on the detector name to know which geometry to load

[2022-09-22 13:57] tomeichlersmith commented on #1087
in your case, since you are based on a GDML which is using v12 hcal and v12 ecal, it might be best to leave it as v12

[2022-09-22 14:14] awhitbeck commented on #1087
I just checked that the TS SDs are in the list, but then I thought, maybe the name of these things might be important!  If I change the first string in these TrigScintSD call, I get sim hit collections!   So, now i am trying to understand what these magic lines do!  Where are these functions ('TrigScinSD()`) I am calling in 'sensitive_detectors.py' defined?  It seems like if I want to change the n

[2022-09-22 14:32] tomeichlersmith commented on #1087
The function `TrigScintSD(...)` is the class constructor which calls the `__init__` method.

https://github.com/LDMX-Software/SimCore/blob/0656170b61f39dd972c6b8fd01fd9707391001d5/python/sensitive_detectors.py#L121-L142

[2022-09-22 17:44] awhitbeck commented on #1087
well, I think I lied, I still don't see any hits, but I'll dig more and follow up with more information, hopefully.

[2022-09-23 10:12] bryngemark opened #1089 "shorthand to pass environment variables to container"
**Is your feature request related to a problem? Please describe.**
There are use cases for passing an environment variable to the container. Examples include Geant4 specific stuff.

**Describe the solution you'd like**
This is easy with docker: use `-e`. Right now this would mean tweaking the definition of `ldmx_run`. I'd like to be able to add variables just like I can add directories to mount an

[2022-09-23 15:31] awhitbeck commented on #1087
okay, I got the sim hits.  The name discussion above was a red herring.  Now, the upstream modules are in places and working properly.  I still need to check things with something more complicated than a pencil beam and fix the target area module...

[2022-09-23 15:41] bryngemark commented on #1087
ok. i will mention here for the record that the scoring planes haven't been updated yet either. not the first priority but something to keep on the list

[2022-09-23 22:10] joyang8caltech commented on #1088
@bryngemark @awhitbeck

If we want to mimic the implementation in TS or LYSO target, could we add both energy deposit (edep) and birds attenuation (birksFactor) in the TS hits or LYSO hits instead of adding reduced energy deposit?

As Lene Kristian said, the Birks attenuation implemented in HcalSD.cxx is rather straightforward.  It calculates Birks attenuation at each step and then use it to reduc

[2022-09-23 22:50] joyang8caltech commented on #1088
@bryngemark @awhitbeck

If trigscint is going to mimic HcalSD.cxx, codes below replace the in HcalSD.cxx's codes from LINE#44 to LINE#85 for LYSO using modified Birks attenuation.
  //---------------------------------------------------------------------------------------------------
  //                Modified Birks' Attenuation
  //                ===========================
  //
  //

[2022-09-25 11:25] bryngemark opened #1091 "no ecal, hcal conditions for v14"
**Describe the bug**
This is a minor thing but as long as we don't have named ecal and hcal conditions for `v14` we won't be able to use that name in the updated geometry.

**To Reproduce**
in Detectors/data/ldmx-det-v14/detector.gdml, replace 12 by 14 here:
[code]
and you'll see
[code]

**Environment:**
this is in the context of the `TS_geom_edits` branch

[2022-09-26 12:19] bryngemark commented on #1088
hi @joyang8caltech, welcome to github :)
What would be the reason to not modify the energy deposited? The way we process simhits further down the reconstruction chain (see [here](https://github.com/LDMX-Software/TrigScint/blob/d7d2b3a99488cc3c5ac52b82084429e37f0b2956/src/TrigScint/TrigScintQIEDigiProducer.cxx#L98-L115)) uses the deposited energy to simulate a number of PEs deposited.

If we think

[2022-09-26 12:30] bryngemark commented on #1088
Please feel free to create a branch named "iss1088" to code this up in TrigScintSD.cxx :
[code]

Then start a pull request as instructed, and add @awhitbeck and me and one more main developer as reviewers.

[2022-09-27 13:50] awhitbeck commented on #1088
I agree, this should be implemented so that it affects the energy deposited.  The number of photons is just going to be a linear function of the energy deposited, so there is no benefit that I can see to doing one over the other, and it is much easier to do the corrections where you have the information needed for the de/dx calculation.

[2022-10-03 16:46] tomeichlersmith commented on #1091
Apologies for the delay, I must have missed the creation of this issue.

There are v14 geometry conditions on `trunk` so the simplest (although maybe not easiest) route is to rebase your developments back onto trunk. The conditions on trunk contain the updated Ecal geometry as well as a slightly updated Hcal to accomodate the ECal changes.

https://github.com/LDMX-Software/ldmx-sw/blob/a4319646e3d

[2022-10-03 16:47] tomeichlersmith commented on #1089
I like this solution and have been thinking about it for some time. Is this something you are interested in implementing? If not, I can work on it as well.

[2022-10-03 18:18] tomeichlersmith commented on #1302
Could use an extension of the solution [posted here](https://stackoverflow.com/questions/65013025/how-do-i-convert-a-2d-python-list-to-a-2d-c-vector) to at minimum extend to 2D python lists. This would update us from supporting 1D lists to 2D but we'd have to go through another round of development to support 3D.

[2022-10-03 23:54] bryngemark commented on #1091
Excellent, thanks @tomeichlersmith! I'll go ahead and close this.

[2022-10-03 23:54] #1091 closed, assigned to nobody

[2022-10-04 15:55] tomeichlersmith commented on #1302
The main issue I see preventing us from writing an arbitrary-depth list extraction is the inability to define the dimension of an array at run time. The paths forward are (a) limit ourselves to a pre-defined dimension limit or (b) define [a custom class that can handle the dimension-definition at run time](https://stackoverflow.com/questions/37089848/variable-array-dimension-at-runtime-c).

Neithe

[2022-10-04 15:57] EinarElen commented on #1302
Technically, 2D would be good enough for now. But we can also spend some more time thinking if there's another way to get the Hcal geometry condition working (which also might not be "clean")

[2022-10-05 17:40] #1077 closed, assigned to omar-moreno

[2022-10-10 21:21] rodwyer100 commented on #1085
[recoSkim3.txt](https://github.com/LDMX-Software/ldmx-sw/files/9749340/recoSkim3.txt)
[recoSkim2.txt](https://github.com/LDMX-Software/ldmx-sw/files/9749341/recoSkim2.txt)

[2022-10-10 21:21] rodwyer100 commented on #1085
Adding validation code in comment as per LK's desires.

[2022-10-10 22:23] bryngemark commented on #1089
I'd be happy to give it a go! I'll look to `ldmx mount` for inspiration.

[2022-10-11 17:34] mrsolt opened #1096 "Update Hcal HGCROC Pulse Shape in Simulation"
The pulse shape in the HGCROC emulator for the Hcal is currently unrealistic. It does not match the current test beam data, and this could be a major factor for (early) data/MC mismatch, especially for energy deposition. For example, it both ramps up and down too quickly (and peaks in the first sample), while data has a slower ramp up (peaking in the ~4th sample) and does not fully ramp down in th

[2022-10-12 02:11] jmmans commented on #1096
While it is true that the shape is slower, tuning to testbeam may be
pessimistic because there are quite a few ROC parameters which could affect
this which we didn't test.

Also, remember the beam was asynchronous to the clock, so there is major
smearing from that.

On Tue, Oct 11, 2022, 12:35 PM mrsolt ***@***.***> wrote:

[2022-10-12 17:19] mrsolt commented on #1096
Thanks for the feedback Jeremy. We discussed this in detail in the test beam meeting today.

We decided it would be better to take a few simpler steps than to actually change the pulse shape. We loosely converged on the following steps.

1. Explicitly show the data/MC discrepancy to get an idea of the scale of the issues (we are close to this, but weren't ready to show it today.) Then show the dig

[2022-10-12 21:44] #1089 closed, assigned to bryngemark

[2022-10-12 21:57] rodwyer100 commented on #1085
Here is the image generated with the other validation architecture as requested in LK's last message

![image](https://user-images.githubusercontent.com/19932569/195455249-116d6960-cb03-4df7-b7a3-e238b3059fd4.png)

These are the scripts used to run the code:

[recoSkim5.txt](https://github.com/LDMX-Software/ldmx-sw/files/9768915/recoSkim5.txt)
[recoSkim4.txt](https://github.com/LDMX-Software/ldmx-

[2022-10-12 23:01] rodwyer100 commented on #1085
Modifications of the validation scripts as per suggestions in pull request

[recoSkim3.txt](https://github.com/LDMX-Software/ldmx-sw/files/9769155/recoSkim3.txt)
[recoSkim4.txt](https://github.com/LDMX-Software/ldmx-sw/files/9769156/recoSkim4.txt)
[recoSkim5.txt](https://github.com/LDMX-Software/ldmx-sw/files/9769157/recoSkim5.txt)
[recoSkim2.txt](https://github.com/LDMX-Software/ldmx-sw/files/976

[2022-10-14 15:59] #1085 closed, assigned to rodwyer100

[2022-10-14 16:16] #1074 closed, assigned to nobody

[2022-10-14 16:18] #1020 closed, assigned to nobody

[2022-10-14 16:18] bryngemark commented on #1088
@joyang8caltech  to start out from the most updated code, check out trunk by doing
[code]
before you start developing on a branch called `iss1088`

[2022-10-14 16:34] tomeichlersmith opened #1099 "Scoring Planes around Recoil Tracker in v14"
**Describe the bug**
The scoring planes around the recoil tracker use the GDML variable `recoil_layer_pos` which is not defined in constants.gdml for the v14 detector. For now, they are just commented out since their truth-level information is almost perfectly replicated by the recoil sim tracker hits themselves for subsystems outside the tracker.

**To Fix**
Update the recoil scoring plane positi

[2022-10-17 13:31] #1087 closed, assigned to nobody

[2022-10-17 14:04] tomeichlersmith opened #1102 "TrigScint naming updates"
**Describe the bug**
In the simulation module, the updated TrigScint geometry renamed the collections that it produced. This is a logical update which unfortunately has the cascading effect of requiring updates to the downstream input/output collection names.

In order to get the validation samples running, I commented out the TrigScint digi pipelines and the TrigScint DQM. This is obviously not l

[2022-10-17 15:35] bryngemark commented on #1102
hi @tomeichlersmith, it's the default tag/up/down naming scheme you're talking about, right, or is there more in the validation workflow?

[2022-10-17 15:38] tomeichlersmith commented on #1102
Yea - I am pretty sure its

Tagger -> TaggerA
Down -> TaggerB
Up -> Up

But I just need y'all to make sure its that simple.

[2022-10-17 15:53] bryngemark commented on #1102
alright. i can take a look and push an update, if not today then definitely by then end of the week

[2022-10-17 16:15] bryngemark commented on #1102
It is actually
Tagger -> TaggerB
Down -> TaggerA
Up -> Up

@awhitbeck, now's probably a good time to decide if this is the naming we want. I find it a little confusing tbh.

The Down pad is the only one that has moved, from just downstream of the target to upstream of every other subdetector.

I propose either, in a logic that associates the trigger pads to their nearest other detector components

[2022-10-17 16:17] bryngemark commented on #1102
Haha oh, no you are right Tom, it's Down-->TaggerB, which comes *before* TaggerA. Did I mention I find it confusing..?

[2022-10-17 16:17] tomeichlersmith opened #1103 "GitHub Action Deprecations"
**Describe the bug**
GitHub actions is deprecating some things. This issue is just helping me keep track of the changes so I can remember to update them.
- [Node.js 12 actions](https://github.blog/changelog/2022-09-22-github-actions-all-actions-will-begin-running-on-node16-instead-of-node12/) - not sure what this is in reference to
  - referencing actions we are _using_ which need to be bumped to

[2022-10-17 18:11] awhitbeck commented on #1102
I am fine renaming things to be more generic, like Pad1, Pad2, Pad3.  Is this this fairly easy to fix in the python configuration files?

[2022-10-17 18:30] bryngemark commented on #1102
Yeah, I think this is a pretty easy fix. The python configs for sure are, I'll think for a bit about if we need to or should change anything in the gdmls too.

[2022-10-18 18:09] bryngemark opened #1104 "Move scoring planes for trigger scintillator"
**Is your feature request related to a problem? Please describe.**
This is just to keep this on our radar. As we are moving one pad far upstream, the scoring planes need moving too.

**Describe alternatives you've considered**
Never using scoring planes for TS again.

[2022-10-18 18:14] bryngemark opened #1105 "Update overlay processor to not deal specifically with contribs for Ecal"
**Is your feature request related to a problem? Please describe.**
Once Ecal moves away from the contribs solution, the overlay producer should also stop treating Ecal differently than other systems.

**Describe the solution you'd like**
Take out the special treatment of Ecal in the overlay producer like [here](https://github.com/LDMX-Software/ldmx-sw/blob/9ba2f7e27e68fbf46db34ba130fff2dc7c74e0df/

[2022-10-19 18:12] tomeichlersmith opened #1106 "DR Geometry Validation"
This (similar to #1074 ) is a tracking issue, meaning it is meant to keep our various discussions organized.

**Each of the four subsystems is expected to do their own validation.** You are encouraged to create your own subsystem-specific issue and comment that link here. This issue is attempting to keep track of known bugs (:bug:) and changes (:zap:) that are related to each subsystem.

- :bug: m

[2022-10-20 14:57] tomeichlersmith commented on #1102
We've been looking into this in more detail on slack and I'm copying my debug notes here for persistency.

We are not seeing _any_ TS hits in collections even after confirming that they are being attached. I am running the config copied below.

## Checks
- [x] Being attached to correct volumes :heavy_check_mark: The simulation prints out when it is attaching an SD to a LV and it is correct.
- [x]

[2022-10-20 17:02] tomeichlersmith commented on #1102
@awhitbeck noticed that the z position of the target sim hits are at `-845` which is _not_ near 0. Looking for a _longitudinal_ shift placing the TrigScint volumes upstream of the beam starting vertex.

[2022-10-20 17:56] bryngemark opened #1337 "Digi-->cluster-->track chain doesn't always check that input collection is there"
This is an old thing. There is no check in the cluster producer that input digits are actually there, causing it to segfault on occasion. There has also been a confusing case where these checks fill even if the collection is there, which has led me to at times not return in case the check fails. This can be seen in the track producer.

Clearly this is not the right way to do it. We should check, a

[2022-10-20 20:54] awhitbeck commented on #1102
There were some conflicts in the naming convention that was causing some weird behaviors.  I have fixed them in branch iss1102.  I checked that there are hit collection for all three of the TS modules and the target.  I have all retuned the beam parameters so that the beam goes through the center of all TS modules and the target.   Plots below show how close I got.

![image](https://user-images.gi

[2022-10-20 23:22] bryngemark commented on #1102
thanks @awhitbeck. if you start a PR, either of us can commit the name changes. i can do it after trying running sim+digi with your branch to verify, as you requested.

@tomeichlersmith, @omar-moreno, is the angle change (4.5 --> 5.65), needed when we move the beam starting point back, already included in default generator examples?

[2022-10-21 13:34] tomeichlersmith commented on #1102
The angle change is not in SimCore, I will make a patch release of SimCore for that reason.

[2022-10-21 13:47] awhitbeck commented on #1102
@tomeichlersmith I referenced an update to `SimCore` in my PR (#1107).  I also missed the position of the beam in my comment above; the angle and the starting position are critical.  Let me copy that information here, just to be sure:

[code]

[2022-10-21 14:12] awhitbeck commented on #1086
Thank @joyang8caltech for getting this into github.  You'll need to integrate this with the rest of LDMX.  Currently, you have removed the rest of the detector.  I would start from the detector as it is in #1107 .  It is important that you check that a rendering of the target does not interfere with the tracking detectors.

You have also changed the plastic detectors.  I suggest we leave these as

[2022-10-24 19:51] joyang8caltech commented on #1086
Hi Andrew:

Thanks for your suggestions.

 Plastic scintillator was changed in my targetW.gdml and targetLYSO.gdml because Geant4 gave errors to the original codes and didn't show the target.gdml.  I'll try to update the codes in #1107 as you suggested.

I will also download the rest of the detector and check if my new target doesn't interfere with the tracking detectors.

Thanks again.

Best rega

[2022-10-27 17:47] cbravo135 opened #1108 "Add stdhep as a primary generator"
**Is your feature request related to a problem? Please describe.**
Would like to add stdhep files as a possible primary generator so we can study Moller scattering
in LDMX as a possibility for calibration procedures.

**Describe the solution you'd like**
stdhep is added as a primary generator source.

**Describe alternatives you've considered**
No alternatives, the egs5 generator used to produce M

[2022-10-28 20:44] omar-moreno commented on #1099
![image](https://user-images.githubusercontent.com/3708508/198729213-e96bd677-2641-4df2-ad7d-193d89c1d3b9.png)

[2022-10-31 14:59] tomeichlersmith opened #1109 "Hcal SP Overlap"
**Describe the bug**
@omar-moreno discovered this bug when updating the recoil tracker scoring planes.

It looks like the scoring plane around the back hcal is a little too close to the beam axis and extends into the side hcal volumes.

@EinarElen @cmantill

https://github.com/LDMX-Software/ldmx-sw/pull/1100#issuecomment-1295677668

![hcal scoring plane vis](https://user-images.githubusercontent.c

[2022-10-31 15:39] #1102 closed, assigned to bryngemark

[2022-10-31 23:33] ehrlich-uva opened #1110 "Improved Hcal scintillator simulation"
The change will introduce two steps
(1) The simulation of the photons produced by the scintillator strips: Lookup tables will be used that contain the photon arrival probabilities and time distributions on both fiber ends based on the production location within the scintillator. The lookup tables were tuned to match testbeam measurements. The initial number of photons is based on the deposited vis

[2022-11-01 14:27] #1099 closed, assigned to nobody

[2022-11-01 18:31] tomeichlersmith opened #1111 "std::bad_alloc exception when running it_pileup"
**Describe the bug**
The it_pileup validation sample failed during run number `5` almost immediately after processing began. The full workflow log is available [online](https://github.com/LDMX-Software/ldmx-sw/actions/runs/3370191782/jobs/5591022414#step:6:262) for the next month (ish). The relevant parts are copied below.

Interestingly, this is dependent on some randomness since runs 1, 3, and 4

[2022-11-01 18:53] bryngemark commented on #1111
Dependent on some randomness, or some deterministic thing?

To me this looks like there might not have been a track, and thus no track collection, in the first event. The electron counter is configured not to use the simulated electron number but the counted (the number of tracks).

I suspect there is no graceful handling of the case when there is no track input collection. If this is caused by no

[2022-11-01 18:57] bryngemark commented on #1111
Also... is this a pileup run with 1e?

[2022-11-01 19:08] bryngemark commented on #1104
The scoring plane at pad3 (closest to target) has been renamed but its location hasn't been checked. The other two pads don't have scoring planes associated to them yet, and we should fix that.

[2022-11-01 19:50] tomeichlersmith commented on #1111
I think this is pileup run with one PU electron and one ECal PN electron.

It is deterministic in the sense that I think we can replicate it - "random" in the sense of Geant4 happened to create an event that caused this issue.

[2022-11-01 19:55] bryngemark commented on #1111
I see. Then we should have 2e as the simulated electron number, if we use it, rather than the number of tracks.

It is a little surprising if we have 0 tracks in a 2e event, but not impossible. One way to check if this is where we fail, is to setup the electron counter to use the simulated electron number.

[2022-11-02 16:54] tomeichlersmith opened #1112 "More Refinement of ECal Geometry"
Susanne was able to double-check my layer stack and pointed out some improvements.

- [x] The PCB layer in the hexaboards is 1.3mm (not 1.67)
- [x] The PCB in the motherboards is 1.5mm (not 1.67)
- [x] The hexaboards have a 0.79mm thick C-fiber base plate which connects them to the 5.7mm C-fiber cooling plate
- [x] Removal of mounting holes in motherboard models so that there are less volumes in t

[2022-11-02 17:59] tomeichlersmith commented on #1111
Alright, first I wanted to verify that I'm seeing this issue locally.

[code]

which produces the same result as the GitHub action.

Running with using the simulated electron number **does not** resolve the issue.

[code]
so I'm not sure what is going on anymore...

[2022-11-02 19:52] bryngemark commented on #1111
OK I looked at the config and have a few observations.
1. you're not overlaying pileup on the TS collections. So there, there will only be the 1e sim hits available to do tracking
2. you're not adding the electron counter process to the sequence. Then the number of electrons will be -1 (this is a bug that I've flagged before; I think it should default to 1 and not -1) which will lead to not lookin

[2022-11-02 19:54] bryngemark commented on #1111
Oh I guess it runs for the other jobs because they do see one electron track in the first event.

[2022-11-02 20:56] tomeichlersmith commented on #1111
Apologies, but can you point out the config lines needed to be changed to resolve (1)? I thought the lines below were telling the OverlayProducer to include the TS collections.

https://github.com/LDMX-Software/ldmx-sw/blob/973ac5b757892e73576aa7bb63b6ac0706cb0803/.github/validation_samples/it_pileup/config.py#L29-L31

https://github.com/LDMX-Software/ldmx-sw/blob/973ac5b757892e73576aa7bb63b6ac070

[2022-11-03 04:13] bryngemark commented on #1111
mh, no don't apologise, you're right, the config I looked at was not updated.

[2022-11-03 04:17] bryngemark commented on #1111
I suppose, if we're not dealing gracefully with the non-existence of digi collections in clustering, or clusters in tracking, you'd see this too. Try bumping up the verbosity of the cluster and track producer to 3 so they spit out every step.

[2022-11-03 18:40] bryngemark opened #1113 "Update "pad time" for late hit suppression in TS clustering"
**Describe the problem**
We moved the TS pads, so the expected hit time based on the electron time-of-flight has changed.

**Desired behavior**
The pad time variable should coincide with the peak in hit time in each pad.

[2022-11-03 20:09] bryngemark opened #1114 "Streamlined validation code"
**Is your feature request related to a problem? Please describe.**
It would be great to have a streamlined plotting of the DQM plots produced in the GitHub validation action, as well as other standard validation plots each subsystem needs.

**Describe the solution you'd like**
@tomeichlersmith  has started making some of this for Ecal and I'd like to import that to `ldmx-sw`. His repo is already s

[2022-11-07 15:45] tomeichlersmith opened #1115 "Update HgcrocEmulator Noise Handling"
**Describe the bug**
The current value of the noiseRMS is configured via python, but it should be accessed via the conditions system. This is also originally motivated by the fact that the Ecal noise RMS is set to a value that is pretty optimistic. https://github.com/LDMX-Software/Ecal/issues/43

@cmantill @EinarElen I am going to make this update on the C++ side. On the python config side, you wi

[2022-11-07 17:05] tomeichlersmith commented on #1111
Turning up the verbosity did not produce the error, so I'm thinking there is a memory-related bug. I re-built with `CMAKE_BUILD_TYPE=Debug` and ran it through `gdb`
[code]

This looks like the `SimTrackerHit` collection is literally overflowing the memory register with a size of `n=4099276460821455642`. Going to look into how those collections are juggled, maybe there is an accidental extra loop s

[2022-11-07 17:40] tomeichlersmith commented on #1111
Slowing down and stepping through this process with `gdb` cannot recreate the error :angry: I'm starting to worry that the allocation size is being mis-managed by ROOT.

[2022-11-07 18:02] tomeichlersmith commented on #1111
`#12` in the back-trace above is showing that the copy constructor is receiving a vector with a negative length and zero capacity. This is a very weird situation for a vector to be in...

[2022-11-07 18:24] tomeichlersmith commented on #1111
After some googling, I was able to find how to set a breakpint for std::vector copy constructor:
[code]
Then I started stepping through. Below I've copied my `gdb` output and highlighted some stuff with by adding `+` and triggering `diff` highlighting.
[code]

[2022-11-07 18:46] tomeichlersmith commented on #1111
For future reference, the below break-point is much more helpful because it only breaks when the vector input to be copied has a negative size.
[code]

[2022-11-07 20:33] tomeichlersmith commented on #1111
In an incredible stroke of weirdness, **switching the order of the SimTrackerHit overlay collections makes it work**.

Still think there is a memory bug somewhere, got to figure it out.

[2022-11-07 20:42] tomeichlersmith commented on #1111
Able to run with only TaggerSimHits, only RecoilSimHits, and [ RecoilSimHits, TaggerSimHits ] (in that order). Something about the transition from TaggerSimHits -> RecoilSimHits is borked.

On this bad event TaggerSimHits does have a size of 16 (a power of two :eyes: ) but this is just numerology

[2022-11-07 21:12] tomeichlersmith commented on #1111
Ok, I've used a [non-implemented struct to have the compiler printout what it deduced for auto](https://stackoverflow.com/questions/38820579/using-auto-type-deduction-how-to-find-out-what-type-the-compiler-deduced). This confirmed that it is not doing a weird type.

Turning on debug (`p.termLogLevel = 0`) allows it to run all the way through.

[2022-11-07 21:24] tomeichlersmith commented on #1111
Looking at the `vector` destructor..

[code]

But the ROOT delete function is also called earlier and that doesn't lead to a negative size.

`ReleaseObject` is called in `SetAddressImpl` if `fObject` is defined (it is, we define in in Bus::attach) _and_ if the `kDeleteObject` status bit is set. I have no idea why the `kDeleteObject` is set, but I am going to try to turn it off.

[2022-11-07 21:56] tomeichlersmith commented on #1111
Patching the `framework::Bus` to explicitly tell ROOT to not touch our :shit: seems to resolve this issue...

[2022-11-08 07:13] EinarElen commented on #1109
From what I can tell the main issue here for the back hcal isn't actually that the back hcal scoring plane is wrong but that some of the back hcal layers are misaligned. I think we missed this because we were looking at wireframes where this was hard to see, in a solid visualization like below it is more clear.
![Screenshot from 2022-11-08 08-10-17](https://user-images.githubusercontent.com/142339

[2022-11-08 07:21] EinarElen commented on #1109
@cmantill the offset here (appearing in both X/Y-oriented scintillator layers) seems to be `+ hcal_scintWidth/2.0`.

[2022-11-08 07:31] EinarElen commented on #1109
For updating the scoring planes, I _think_ the most straight-forward approach would be to replace references to `back_hcal_dfoo` with `hcal_envelope_dfoo` in the scoring planes file, assuming that we just want to make the scoring planes large enough to fit the entire back + side hcal.

[2022-11-08 07:53] EinarElen opened #1117 "Hcal geometry condition updates + refactoring"
Given the new and more complicated hcal geometry, there are more things we want to be able to ask the geometry condition. I want to take the opportunity when adding these to also try and clean things up in there a bit. @ehrlich-uva feel free to suggest other things you might need below

- [ ] Scintillator bar length from HcalID
  - [x] Added parameter for v14
  - [x] Added parameter for prototype-

[2022-11-08 12:02] cmantill commented on #1109
I guess that it makes sense to surround the back hcal in one set of scoring planes. For the side hcal we can do a separate box but I guess that in that case we need to be careful with the Ecal scoring planes?

[2022-11-08 12:10] cmantill commented on #1109
Hi @EinarElen , ok great. I think that that should be because we are placing the plate of absorber directly but then the scintillator bars need to be centered at `hcalScintWidth/2.0`. Can you add that to https://github.com/LDMX-Software/ldmx-sw/blob/trunk/Detectors/data/ldmx-det-v14/hcal.gdml#L274 and https://github.com/LDMX-Software/ldmx-sw/blob/trunk/Detectors/data/ldmx-det-v14/hcal.gdml#L285 ?

[2022-11-08 13:35] EinarElen commented on #1109
Right, I'll make a PR with both of those changes

[2022-11-08 13:39] EinarElen commented on #1109
Should the change be at those places or in the `back_hcal_startX_scint`/`back_hcal_startY_scint`-variables? I think doing it there would make more sense and as far as I can tell, it doesn't affect anything else

[2022-11-08 16:20] #1111 closed, assigned to nobody

[2022-11-08 16:48] EinarElen commented on #1117
For the scintillator bar orientation, I'm thinking maybe we can get away with not handling that yet. Currently, only the v14 geometry has a side-hcal which is relevant for Ralf's scintillation simulation so... We can survive with handling it there

[2022-11-08 16:57] ehrlich-uva commented on #1117
Is there a function that returns the version number of the geometry? If so, we can use some if/thens to use the older HcalDigitization methods for older geometry versions.

[2022-11-08 17:00] EinarElen commented on #1117
There isn't currently, but i still think it would be valuable to have two distinct digiproducers and in that case we maybe wouldn't need it

[2022-11-08 18:17] #1109 closed, assigned to nobody

[2022-11-08 18:39] ehrlich-uva commented on #1117
Yes, we can keep both digiproducers.

[2022-11-08 20:22] tomeichlersmith commented on #1112
Still lots of triangles but not so many that it looks solid when using a wireframe...

![Screenshot from 2022-11-08 14-21-25](https://user-images.githubusercontent.com/31970302/200667359-80b55ac8-eb63-4102-9704-8fe2ea825f15.png)

[2022-11-09 22:23] #1104 closed, assigned to nobody

[2022-11-09 22:31] #1112 closed, assigned to nobody

[2022-11-09 22:33] #1032 closed, assigned to aechavez

[2022-11-10 19:20] #1115 closed, assigned to tomeichlersmith

[2022-11-11 16:17] tomeichlersmith opened #1123 "ECal v14 Validation Discussion"
Just isolating the ECal discussion here because it may be too much for other folks...

@vdutta thoughts?

After the reco updates in #1115 , ECal is looking pretty good. The legend title refers the commit of trunk I'm running on (except for v3.0.0, that is v3.0.0). These plots were generated from 10k event samples of 4GeV electrons shot directly into the center of the ECal, skipping all upstream tr

[2022-11-11 16:55] vdutta commented on #1123
Thanks for the plots @tomeichlersmith! A couple of questions:

- Is the shift in the total isolated energy between v3.0.0 v12 and current v12 due to the fix you made in the calculation?
- The reduction in number of readout hits is indeed a bit confusing to me, so checking how the noise RMS is being applied would indeed be good. Is it the same between v12 and v14 in v3.2.0-gamma? If so, then the sh

[2022-11-11 17:25] tomeichlersmith commented on #1123
- Yes, that is due to the calculation fix in #1079
- The noise RMS should be the same between v12 and v14 in v3.2.0-gamma, but that is another thing to double check.

[2022-11-15 18:59] tomeichlersmith commented on #1123
@vdutta The shift in the number of hits originates at the simulation-level and there is a suspiciously big difference between v12 right now and v12 from v3.0.0. Going to look into that...

![ecal_n_sim_hits](https://user-images.githubusercontent.com/31970302/202003003-513e79db-bf10-466d-aa27-ffe142c6c892.png)

## Edit
This is a bad comparison because the v12/v14 are ECal PN sims, but the v3.0.0 is

[2022-11-15 23:44] bryngemark opened #1125 "Updated TS ad names not reflected in testbeam geometry"
**Describe the bug**
The testbeam geometry uses the old TS pad naming, so the SD doesn't pick up the pad, thus there are no TS sim hits. One way to do this would be to patch simcore with one more check (as we already check if we're using v12, for backwards compatibility). Another is to push a v2.1 of the testbeam geometry where `Up` --> `Pad1`.

**To Reproduce**
Run simulation with e.g. `ldmx-hcal

[2022-11-16 18:45] bryngemark opened #1126 "Move from 50 to 48 bars per TS array"
**Describe the bug**
For historical reasons, we've had 50 bars in the TS simulation, but we have long ago agreed that the numerology of 48 bars is superior. With the new geometry, time to make the move.

**Desired behavior**
24 bars per layer instead of 25

**Additional context**
Keeping track of this here:
https://github.com/LDMX-Software/TrigScint/issues/48
but wanted an issue in this repo too s

[2022-11-16 18:57] awhitbeck commented on #1126
I agree, now is the time to do this. We should increase to the width of the bars by 0.05 mm, though.  Otherwise we won't cover the whole beam spot.

[2022-11-17 16:07] tomeichlersmith commented on #1123
Yea... it was a false alarm, back to trying to understand the shift between v12 and v14.

**NOTE**: I mislabeled this plot. These **are not** ECal PN events. They are simple inclusive events with a 4GeV beam going straight into the ECal.

![ecal_n_sim_hits](https://user-images.githubusercontent.com/31970302/202497294-75c2e38a-ca10-45e2-87f7-437dc12012c5.png)

[2022-11-21 15:36] #1017 closed, assigned to bryngemark

[2022-11-21 20:43] #1126 closed, assigned to nobody

[2022-11-21 21:15] #1125 closed, assigned to nobody

[2022-11-30 22:54] #1113 closed, assigned to nobody